<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ftlink.css"> <!--    Only for Footer Link-->
    <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/aboutus.css">

</head>
<body>
    <div class="about__title">
        <span>A</span>
        <span>B</span>
        <span>O</span>
        <span>U</span>
        <span>T</span>
        &nbsp;
        &nbsp;
        <span>U</span>
        <span>S</span>
        <p>SCROLL DOWN FOR MORE INFORMATION</p>
    </div>
    <section></section>
    <div class=" about__content">
        <div class="container">
            <p class="mini_title"><a href="/"> HELLO BEAUTY</a></p>
            <h1>ABOUT US</h1>
            <hr>
            <div class="about__content__div">
                <div class="row">
                    <div class="col-md-5 about__content__title" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">WHO WE ARE</div>
                    <div style="background: url('/imgs/aboutus/2.jpg'); background-size: cover" class="col-md-7 about__content__img" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                        <div class="img__bottom" data-aos="fade-right" data-aos-duration="1000">
                            <h3>Makeup Booking Service</h3>
                            <p>As a group of young start-ups, we are passionate about creating a makeup artist booking website that can give the best user experience.
                                We are constantly striving and improving to build a website with full features that allows you to make a schedule online with any makeup
                                artist you desire.
                            </p>
                            <p>
                                Established in 2020, our website has quickly become the number one Make up Artist booking website in Vietnam with a daily traffic and usage of up to
                                500,000 thousand times.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="about__content__div">
                <div class="row">
                    <div class="col-md-7 about__content__img" style="background: url('/imgs/aboutus/1.jpg'); background-size: cover" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
                        <div class="img__bottom--right" data-aos="fade-left" data-aos-duration="1000">
                            <h3>Best Choice for You</h3>
                            <p>With Hello Beauty, you can easily schedule your schedule anytime and anywhere.</p>
                            <p>   Reduce late and missed appointments and keep artists and customers happy.</p>
                            <p>    Our system sends automatic reminders and alerts to both customers and artists, even taking travel time into account!</p>

                        </div>
                    </div>
                    <div class="col-md-5 about__content__title" style="text-align: right"  data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">WHY US</div>
                </div>
            </div>

            <hr>


            <div class="about__content__div">
                <div class="row">
                    <div class="col-md-5 about__content__title" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">WHAT WE HAVE</div>
                    <div class="col-md-7 about__content__img" style="background: url('/imgs/aboutus/3.jpg'); background-size: cover" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                        <div class="img__bottom" data-aos="fade-right" data-aos-duration="1000">
                            <h3>Services</h3>
                            <p>We provide the most effective scheduling utility for you with makeup services such as wedding makeup, party makeup,
                                family makeup and custom makeup. With just a few taps, you can quickly find yourself the most suitable makeup artist.
                            </p>
                            <p>In addition, the promotion for all customers are always ready for you</p>
                            <p> WITH HELLO BEAUTY, YOUR LIFE IS ALWAYS BEAUTIFUL !</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <%- include ('layout/footer'); -%>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    var section = document.querySelector("section");
    window.addEventListener('scroll',function (){
        var value = window.scrollY;
        section.style.clipPath = "circle("+value+"px at center)"
    })

    AOS.init();
</script>
</body>
</html>