<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ftlink.css"> <!--    Only for Footer Link-->
</head>
<body>
    <div class="ftlink">
        <div class="container">
            <h1>About Us</h1>
            <p>
                HelloBeauty is Vietnam’s No.1 beauty services marketplace for beauty professionals and clients.
                Beauty professionals can manage their business, connect with new & existing clients, and showcase their services.
                Clients can discover beauty services, and book instantly anytime, anywhere.
            </p>
            <p>
                HelloBeauty’s Value Propositions :
            </p>
            <h3>Transparent</h3>
            <p>Discover services and prices of beauty professionals.</p>
            <h3>Convenient</h3>
            <p>No more wasting time. Find and book your beauty appointments instantly with just few clicks. Beauty Anytime, Anywhere.</p>
            <h3>Trusted</h3>
            <p>Vetted beauty professionals will help you to look and feel your best.</p>
        </div>
    </div>

    <%- include ('layout/footer'); -%>
</body>
</html>