<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beauty Artist</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/js/bootstrap.js">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/BeautyArtist.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home-son.css"/>
</head>
<body>


<header class=" H_css_header" id="img_background">
    <section class="section sticky-top">
        <nav class="navbar navbar-expand-md navbar-light  nav-head-s" id="nav-head-s">
            <div class="container-fluid">
                <div class="img-nav-s">
                    <a class="navbar-branch" href="#">
                        <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                    </a>
                </div>
                <form class="form-group form-group-nav-pro" action="/search" method="get">
                    <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                    <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item nav-item-s1">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    FOR CLIENT
                                </button>
                                <div class="dropdown-content">
                                    <a class="dropdown-item" href="/addArtist">Beauty Job Artist</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Beauty Outlet</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-s">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    PARTNER WITH US
                                </button>
                                <div class="dropdown-content">
                                    <a class="dropdown-item" href="#">Beauty Artists</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Beauty Outlets</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-s">
                            <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                        </li>
                        <li class="nav-item nav-item-s">
                            <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                        </li>
                        <li class="nav-item nav-item-s">
                            <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin"><a href="/login">Login</a> </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="H_css_heaer_backgroundcolor">
        <div class="container ">
            <h1 style="font-size: 30px"> Beauty Artist</h1>
            <p style="font-size: 16px"> Find and book your favorite beauty artist.</p>
        </div>
    </div>
</header>

<div class="H_css_main">
    <div class="row">
        <div class="container ">
            <div class=" col-3 H_css_main_left">
                <div class="sticky-top">
                    <div class="H_form_right" >
                        <form id="H_form_id" method="get" action="#" >
                            <div class="  H_form ">
                                <label class="H_form">Select Service</label>
                                <select name="H_select_service" id="H_service" class="H_select">
                                    <option class="H_option" value="0">All Service</option>
                                    <option value="1">Basic Make Up (Party, Graduation or Daily Make Up)</option>
                                    <option value="2">Sweet 17th Birthday Make Up</option>
                                </select>
                            </div>
                            <div class=" H_form ">
                                <label class="H_form">Select City</label>
                                <input class="H_css_main_left_input" type="text" name="name_city"  placeholder="Name City" >
                            </div>
                            <div class=" H_form">
                                <label class="H_form" style=" margin-top: 10px">Sort by price</label>
                                <a class=" H_hover" href="#">
                                    <label class="H_label">
                                        <input type="radio" src="#" name="price">
                                        <span class="H_label_p"> 0 - 1.000.000 VND</span>
                                    </label>
                                </a>
                                <a class="H_hover" href="#">
                                    <label class="H_label">
                                        <input type="radio" src="#" name="price">
                                        <span class="H_label_p"> 1.000.000 - 2.500.000 VND</span>
                                    </label>
                                </a>
                                <a class=" H_hover" href="#">
                                    <label class="H_label">
                                        <input type="radio" src="#" name="price">
                                        <span class="H_label_p"> 2.500.000 - 5.000.000 VND</span>
                                    </label>
                                </a>
                                <a class="H_hover" href="#">
                                    <label class="H_label">
                                        <input type="radio" src="#" name="price">
                                        <span class="H_label_p"> 5.000.000 - 10.000.000 VND</span>
                                    </label>
                                </a>
                                <a class=" H_hover" href="#">
                                    <label class="H_label">
                                        <input type="radio" src="#" name="price">
                                        <span class="H_label_p"> 10.000.000 VND  + ...  </span>
                                    </label>
                                </a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>


            <div class= " col-9 H_css_main_right">
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                                <li data-target="#demo" data-slide-to="3"></li>
                                <li data-target="#demo" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/artist1.1.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/artist1.2.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/artist1.3.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/artist1.4.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/artist1.5.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist1.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >1.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo9" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo9" data-slide-to="0" class="active"></li>
                                <li data-target="#demo9" data-slide-to="1"></li>
                                <li data-target="#demo9" data-slide-to="2"></li>
                                <li data-target="#demo9" data-slide-to="3"></li>
                                <li data-target="#demo9" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/1.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/2.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/3.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/4.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/5.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo9" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo9" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist2.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2">1.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo8" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo8" data-slide-to="0" class="active"></li>
                                <li data-target="#demo8" data-slide-to="1"></li>
                                <li data-target="#demo8" data-slide-to="2"></li>
                                <li data-target="#demo8" data-slide-to="3"></li>
                                <li data-target="#demo8" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/5.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/7.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/14.jpg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/9.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/10.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo8" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo8" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist3.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >20.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo7" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo7" data-slide-to="0" class="active"></li>
                                <li data-target="#demo7" data-slide-to="1"></li>
                                <li data-target="#demo7" data-slide-to="2"></li>
                                <li data-target="#demo7" data-slide-to="3"></li>
                                <li data-target="#demo7" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/6.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/7.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/8.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/9.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/10.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo7" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo7" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist4.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >5.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo6" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo6" data-slide-to="0" class="active"></li>
                                <li data-target="#demo6" data-slide-to="1"></li>
                                <li data-target="#demo6" data-slide-to="2"></li>
                                <li data-target="#demo6" data-slide-to="3"></li>
                                <li data-target="#demo6" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/11.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/12.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/13.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/14.jpg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/1.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo6" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo6" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist3.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >1.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo5" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo5" data-slide-to="0" class="active"></li>
                                <li data-target="#demo5" data-slide-to="1"></li>
                                <li data-target="#demo5" data-slide-to="2"></li>
                                <li data-target="#demo5" data-slide-to="3"></li>
                                <li data-target="#demo5" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/2.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/3.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/4.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/5.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/8.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo5" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo5" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist6.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >2.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo4" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo4" data-slide-to="0" class="active"></li>
                                <li data-target="#demo4" data-slide-to="1"></li>
                                <li data-target="#demo4" data-slide-to="2"></li>
                                <li data-target="#demo4" data-slide-to="3"></li>
                                <li data-target="#demo4" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/3.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/14.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/8.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/11.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/10.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo4" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo4" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist7.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2"> 5.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo3" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                                <li data-target="#demo3" data-slide-to="1"></li>
                                <li data-target="#demo3" data-slide-to="2"></li>
                                <li data-target="#demo3" data-slide-to="3"></li>
                                <li data-target="#demo3" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/7.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/6.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/9.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/8.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/13.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo3" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist7.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >10.000.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo2" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo2" data-slide-to="0" class="active"></li>
                                <li data-target="#demo2" data-slide-to="1"></li>
                                <li data-target="#demo2" data-slide-to="2"></li>
                                <li data-target="#demo2" data-slide-to="3"></li>
                                <li data-target="#demo2" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/13.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/7.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/8.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/10.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/9.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo2" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist2.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >7.500.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row col-6  H_img_artist_desc">
                    <div class="H_img_artist">
                        <div class="H_topup">
                            Top beauty artist
                        </div>
                        <div class="H_topup_icon">
                            <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                        </div>
                    </div>
                    <div class="H_img_artist">
                        <div id="demo1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                <li data-target="#demo1" data-slide-to="1"></li>
                                <li data-target="#demo1" data-slide-to="2"></li>
                                <li data-target="#demo1" data-slide-to="3"></li>
                                <li data-target="#demo1" data-slide-to="4"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img_huy/14.jpg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/13.jpeg"  style="width:100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/8.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item">
                                    <img src="/img_huy/9.jpeg"  style="width:100%;" >
                                </div>
                                <div class="carousel-item ">
                                    <img src="/img_huy/10.jpeg"   style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo1" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <a href="/artist" class="">
                        <div class="H_info_artist">
                            <div class=" H_avt_artist">
                                <img class="H_img " src="/img_huy/avtartist10.jpeg" height="250" width="250"/>
                            </div>
                            <div class="H_artist_desc">
                                <div class="H_Name_artist">Clara Santoso</div>
                                <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                                <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                            </div>
                        </div>
                        <div class=" H_display_review">
                            <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                                <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004;&#xf004;&#xf004;&#xf004;&#xf004;</i>
                                    </span>
                            </div>
                            <div class="row col-md-6 H_display_review_right">
                                <span class="H_display_sprice">Start From</span>
                                <span class="H_display_sprice2" >1.700.000,00 VND</span>
                            </div>
                        </div>
                    </a>
                </div>


            </div>


        </div>

    </div>
</div>
<div class="sticky-top">
    <%- include ('layout/footer'); -%>

</div>
</body>
</html>