<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beauty Artist</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/js/bootstrap.js">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/BeautyArtist.css"/>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<header class=" H_css_header" id="img_background">
    <div class="H_css_heaer_backgroundcolor">
        <div class="container ">
            <h1 style="font-size: 30px"> Beauty Artist</h1>
            <p style="font-size: 16px"> Find and book your favorite beauty artist.</p>
        </div>

    </div>
</header>
<div class="H_css_main">
    <div class="container">
        <div class=" col-3 H_css_main_left">
            <div class=" H_form_right">
                <form id="H_form_id" method="get" action="#" >
                    <div class="  H_form ">
                        <label class="H_form">Select Service</label>
                        <select name="H_select_service" id="H_service" class="H_select">
                            <option value="0">All Service</option>
                            <option value="1">Basic Make Up (Party, Graduation or Daily Make Up)</option>
                            <option value="2">Sweet 17th Birthday Make Up</option>
                            Hairstyling / Hairdo Class (Online)                                        </option>
                            <option value="88">
                                Haicut Tutorial for Men or Women Class (Online)                                        </option>
                            <option value="89">
                                Beauty Product Consultation (Online)                                        </option>
                        </select>
                    </div>
                    <div class=" H_form ">
                        <label class="H_form">Select City</label>
                        <input type="text" name="name_city"  class="H_select" placeholder="Nane City" >
                    </div>
                    <div class=" H_form">
                        <label class="H_form">Sort by price</label>
                        <a class=" H_hover" href="#">
                            <label class="H_label">
                                <input type="radio" src="#" name="price">
                                <span class="H_label_p">Rp 0 - Rp 100.000 </span>
                            </label>
                        </a>
                        <a class="H_hover" href="#">
                            <label class="H_label">
                                <input type="radio" src="#" name="price">
                                <span class="H_label_p">Rp 100.000 - Rp 250.000</span>
                            </label>
                        </a>
                        <a class=" H_hover" href="#">
                            <label class="H_label">
                                <input type="radio" src="#" name="price">
                                <span class="H_label_p">Rp 250.000 - Rp 500.000 </span>
                            </label>
                        </a>
                        <a class="H_hover" href="#">
                            <label class="H_label">
                                <input type="radio" src="#" name="price">
                                <span class="H_label_p">Rp 500.000 - Rp 1000.000</span>
                            </label>
                        </a>
                        <a class=" H_hover" href="#">
                            <label class="H_label">
                                <input type="radio" src="#" name="price">
                                <span class="H_label_p">Rp 1000.000 +   </span>
                            </label>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class= "  col-9 H_css_main_right">
            <div class="row col-6  H_img_artist_desc">
                <div class="H_img_artist">
                    <div class="H_topup">
                        Top beauty artist
                    </div>
                    <div class="H_topup_icon">
                        <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                    </div>
                </div>
                <div class="H_img_artist">
                    <img class="img-fluid" src="/img_huy/8f0a7615beb904c0fd06e08df1dcfd00-350-200.jpeg" height="200" width="350"/>
                </div>

                <a href="#" class="">
                    <div class="H_info_artist">
                        <div class=" H_avt_artist">
                            <img class=" H_img " src="/img_huy/avtartist1.jpeg" height="250" width="250"/>
                        </div>
                        <div class="H_artist_desc">
                            <div class="H_Name_artist">Clara Santoso</div>
                            <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                            <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                        </div>
                    </div>
                    <div class=" H_display_review">
                        <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                            <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004; &#xf004; &#xf004; &#xf004; &#xf004;</i>
                                    </span>
                        </div>
                        <div class="row col-md-6 H_display_review_right">
                            <span class="H_display_sprice">Start From</span>
                            <span class="H_display_sprice2" style="font-size: 17px; font-weight: 600;color: rgba(0,0,0,0.54)">IDR 1.000.000,00</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row col-6  H_img_artist_desc">
                <div class="H_img_artist">
                    <div class="H_topup">
                        Top beauty artist
                    </div>
                    <div class="H_topup_icon">
                        <img src=" https://www.hellobeauty.id/assets/images/verified.svg">
                    </div>
                </div>
                <div class="H_img_artist">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                            <li data-target="#demo" data-slide-to="3"></li>
                            <li data-target="#demo" data-slide-to="4"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img_huy/artist1.1.jpeg"  style="width:100%;">
                            </div>
                            <div class="carousel-item active">
                                <img src="/img_huy/artist1.2.jpeg"  style="width:100%;">
                            </div>
                            <div class="carousel-item active">
                                <img src="/img_huy/artist1.3.jpeg"  style="width:100%;" >
                            </div>
                            <div class="carousel-item active">
                                <img src="/img_huy/artist1.4.jpeg"  style="width:100%;" >
                            </div>
                            <div class="carousel-item active">
                                <img src="/img_huy/artist1.5.jpeg"   style="width:100%;">
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>

                <a href="#" class="">
                    <div class="H_info_artist">
                        <div class=" H_avt_artist">
                            <img class="H_img " src="/img_huy/avtartist1.jpeg" height="250" width="250"/>
                        </div>
                        <div class="H_artist_desc">
                            <div class="H_Name_artist">Clara Santoso</div>
                            <div class="H_description">Menerima services for Wedding, Pre Wedding...</div>
                            <div class="H_loca "  ><i style="font-size:11px;color: #484848;" class="fas" >&#xf3c5;</i> Jakarta Barat - DKI Jakarta</div>
                        </div>
                    </div>
                    <div class=" H_display_review">
                        <div class="row col-md-6 H_display_review_left">
                                    <span class="H_display_sprice">
                                        5/5.216 Review
                                    </span>
                            <span class="H_Icon">
                                        <i style="font-size:15px; color: red;" class="fa">&#xf004; &#xf004; &#xf004; &#xf004; &#xf004;</i>
                                    </span>
                        </div>
                        <div class="row col-md-6 H_display_review_right">
                            <span class="H_display_sprice">Start From</span>
                            <span class="H_display_sprice2" style="font-size: 17px; font-weight: 600;color: rgba(0,0,0,0.54)">IDR 1.000.000,00</span>
                        </div>
                    </div>
                </a>
            </div>


        </div>


    </div>
</div>
<%- include ('layout/footer'); -%>
</body>
</html>