<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beauty Daily - Welcome to Our Blog</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/libs/carousel-s/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/alertbox.css">
</head>
<body>
<div class="alert bg-info hide">
    <span class="fas fa-exclamation-circle text-white"></span>
    <span class="msg text-white">Notice: Thanks for your attention !</span>
    <div class="close-btn text-white">
        <span class="fas fa-times"></span>
    </div>
</div>
<div class="vheaderBD">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <img class="img-fluid" src="/imgs/blog/logodaily.png" alt="">
            </div>
<!--            <div class="col-md-4 searchBtn">-->
<!--                <a href="#" class="search-button"><i class="icon-search fa fa-search"></i></a>-->
<!--            </div>-->
            <nav class="col-md-12 vheaderBD__nav">
                <ul class="navbar">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="alert();">Beauty & Health</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="alert();">Beauty Product Review</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="alert();">Beauty Events & Promo</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="alert();">Beauty Artist Story</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="alert();">Tips & Tutorial</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="alert();">Video</a> </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<div class="vSlider">
    <div class="container-fluid">
        <div class="owl-carousel owl-theme">
            <div class="item owl-cover overlaybg" id="owl-cover-1" style="width: 1200px;">
                <div class="owl-content">
                    <h6>BEAUTY PRODUCT REVIEW</h6>
                    <h1>MAYBELINE SUPERSTAY MATTE</h1>
                    <button class="btn btn-outline-light" onclick="alert();"><a href="#">VIEW POST</a></button>
                    <p><small>on</small> July, 2020</p>
                </div>
            </div>
            <div class="item owl-cover" id="owl-cover-2" style="width: 800px;">
                <div class="owl-content">
                    <h6>TIPS & TUTORIAL</h6>
                    <h1>10 TIPS MAKEUP</h1>
                    <button class="btn btn-outline-light" onclick="alert();"><a href="#">VIEW POST</a></button>
                    <p><small>on</small> Aug, 2020</p>
                </div>
            </div>
            <div class="item owl-cover" id="owl-cover-3" style="width: 1000px;">
                <div class="owl-content">
                    <h6>BEAUTY EVENT</h6>
                    <h1>BEAUTY PHOTOGRAPHY WORKSHOP</h1>
                    <button class="btn btn-outline-light" onclick="alert();"><a href="#">VIEW POST</a></button>
                    <p><small>on</small> July, 2020</p>
                </div>
            </div>
            <div class="item owl-cover" id="owl-cover-4" style="width: 1200px;">
                <div class="owl-content">
                    <h6>BEAUTY & HEALTH</h6>
                    <h1>BEAUTY VITAMINS</h1>
                    <button class="btn btn-outline-light" onclick="alert();"><a href="#">VIEW POST</a></button>
                    <p><small>on</small> Sep, 2020</p>
                </div>
            </div>
            <div class="item owl-cover" id="owl-cover-5" style="width: 1400px;">
                <div class="owl-content">
                    <h6>BEAUTY PRODUCT REVIEW</h6>
                    <h1>MAYBELINE SUPERSTAY MATTE</h1>
                    <button class="btn btn-outline-light" onclick="alert();"><a href="#">VIEW POST</a></button>
                    <p><small>on</small> July, 2020</p>
                </div>
            </div>
            <div class="item owl-cover" id="owl-cover-6" style="width: 1000px;">
                <div class="owl-content">
                    <h6>BEAUTY PRODUCT REVIEW</h6>
                    <h1>MAKEUP INSPIRATION</h1>
                    <button class="btn btn-outline-light" onclick="alert();"><a href="#">VIEW POST</a></button>
                    <p><small>on</small> July, 2020</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vCategories">
    <div class="container">
        <div class="row vCate__top">
            <div class="col-md-3 col-xs-6 vCate" id="vCate-1">
                <div class="vCate__icon"><i class="far fa-user"></i></div>
                <h3 class="vCate__title"><a href="#" onclick="alert();"> Beauty Artist Story</a></h3>
            </div>
            <div class="col-md-3 col-xs-6 vCate" id="vCate-2">
                <div class="vCate__icon"><i class="far fa-comment"></i></div>
                <h3 class="vCate__title"><a href="#" onclick="alert();"> Tips & Tutorial</a></h3>
            </div>
            <div class="col-md-3 col-xs-6 vCate" id="vCate-3">
                <div class="vCate__icon"><i class="far fa-comments"></i></div>
                <h3 class="vCate__title"><a href="#" onclick="alert();"> Beauty Product Review</a></h3>
            </div>
            <div class="col-md-3 col-xs-6 vCate" id="vCate-4">
                <div class="vCate__icon"><i class="far fa-heart"></i></div>
                <h3 class="vCate__title"><a href="#" onclick="alert();"> Beauty & Health</a></h3>
            </div>
        </div>
        <div class="row vCate__bot">
            <div class="col-md-6 col-xs-12 vCate" id="vCate-5">
                <div class="vCate__icon"><i class="fas fa-video"></i></div>
                <h3 class="vCate__title"><a href="#" onclick="alert();"> Video</a></h3>
            </div>
            <div class="col-md-6 col-xs-12 vCate" id="vCate-6">
                <div class="vCate__icon"><i class="far fa-calendar"></i></div>
                <h3 class="vCate__title"><a href="#" onclick="alert();"> Beauty Event</a></h3>
            </div>
        </div>
    </div>
</div>

<div class="vArticle">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="vArt__img" id="vArt__img-1"> </div>
                <div class="vArt__cate"><a href="#" onclick="alert();">BEAUTY & HEALTH</a> </div>
                <div class="vArt__title"><a href="#" onclick="alert();">15 benefits of Celery leaves for health and beauty</a></div>
                <p class="vArt__content">
                    Celery leaves are not foreign leaves anymore. These leaves are often used as food
                    ingredients and are often consumed. But did you know that this leaf is also sometimes used as a medicinal plant? ...
                </p>
                <div class="vArt__btn d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-main" onclick="alert();"><a href="#">VIEW POST</a></button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="vArt__img" id="vArt__img-2"> </div>
                <div class="vArt__cate"><a href="#" onclick="alert();">BEAUTY EVENT</a> </div>
                <div class="vArt__title"><a href="#" onclick="alert();">Beauty Photography Workshop By Hai Nam Do</a></div>
                <p class="vArt__content">
                    For those of you who are interested in knowing how to become a photographer in the field of beauty,
                    this event is just right for you! This photography workshop is organized by us which will ...
                </p>
                <div class="vArt__btn d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-main" onclick="alert();"><a href="#">VIEW POST</a></button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="vArt__img" id="vArt__img-3"> </div>
                <div class="vArt__cate"><a href="#" onclick="alert();">BEAUTY PRODUCT REVIEW</a> </div>
                <div class="vArt__title"><a href="#" onclick="alert();">10 Benefits of a Coffee Mask for a Perfectly Beautiful Face</a></div>
                <p class="vArt__content">
                    Recently, cosmetic factories have increasingly looked at coffee as an essential ingredient for their products.
                    Not only does it have a distinctive aroma and is also the base ingredient for one of the biggest fan drinks ...
                </p>
                <div class="vArt__btn d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-main" onclick="alert();"><a href="#">VIEW POST</a></button>
                </div>
            </div>
<form content=""
            <div class="col-md-6">
                <div class="vArt__img" id="vArt__img-4"> </div>
                <div class="vArt__cate"><a href="#" onclick="alert();">BEAUTY & HEALTH</a> </div>
                <div class="vArt__title"><a href="#" onclick="alert();">Causes of the appearance of acne</a></div>
                <p class="vArt__content">
                    Acne is a problem for everyone, both men and women, the presence of acne can make self-confidence decrease,
                    as a result of disturbing daily activities. Let's learn the things that can cause acne that ...
                </p>
                <div class="vArt__btn d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-main" onclick="alert();"><a href="#">VIEW POST</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="vFooterBD">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="vFooterBD__logo">
                    <img class="img-fluid" src="/imgs/blog/logodailywhite.png" alt="">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between text-white vFooterBD__bottom">
                <span>© 2018 HELLOBEAUTY</span>
                <span>THANKS FOR READING!</span>
                <span>ALL RIGHTS RESERVED</span>
            </div>
        </div>
    </div>
</footer>


<script src="/libs/jQuery/jQuery.js"></script>
<script src="/libs/carousel-s/js/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        center:true,
        margin:10,
        loop:true,
        autoWidth:true,
        items:4,
        autoplay:true,
        autoplayTimeout:3000,
        autoplayHoverPause:true
    })

    //Alert Box

    function alert(){
        $('.alert').removeClass("hide");
        $('.alert').addClass("show");
        $('.alert').addClass("showAlert");
        setTimeout(function (){
            $('.alert').addClass("hide");
            $('.alert').removeClass("show");
        },3000)
    }
    $('.close-btn').click(function (){
        $('.alert').addClass("hide");
        $('.alert').removeClass("show");
    })
</script>

</body>
</html>