<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/lab13.css"/>
    <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/js/jquery.js">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
</head><body>
<section class="section">
    <div class="container">
       <ul class="cities">
           <% cities.map(function (e){ %>
               <li><h2><a href="/thanh-pho/<%= e.id %>"><%= e.label %></a></h2></li>
           <% }) %>
       </ul>
    </div>
</section>

</body>
</html>