<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty Gallery</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/layout/navbar-Beauty-Artist-s.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/head-Aritst-son.js"></script>
    <script type="text/javascript" src="/js/scrip-son2.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link href="https://cdn.jsdelivr.net/lightgallery/1.3.9/css/lightgallery.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/Gallery-s.css"/>
    <script type="text/javascript" src="/js/Gallery-s.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
</head>
<body class="home">

<%- include("layout/navbar-Beauty-Artist-s") -%>


<section class="section gallery-conten">
    <div class="container-fluid">
        <div class="Gallery-basic">
            <h3 class="Gallery-basic-h3">Basic Make Up</h3>
        </div>
        <div class="gallery-image">
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-1.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-2.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-3.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-4.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-5.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-6.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-7.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-10.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/basic-9.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Basic</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="Gallery-basic">
            <h3 class="Gallery-basic-h3">Wedding Make Up</h3>
        </div>
        <div class="gallery-image">
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-1.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-2.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-3.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-4.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-5.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-10.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-7.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-8.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/wedding-9.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Wedding</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="Gallery-basic">
            <h3 class="Gallery-basic-h3">Traditional Wedding Make Up</h3>
        </div>
        <div class="gallery-image">
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-1.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-2.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-3.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-4.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-5.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-10.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-7.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-8.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="/imgs-s/Gallery-son/truyenthong-9.jpg" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>Make Up</p>
                        <p class="opacity-low">Traditional Wedding</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/home-son.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#lightgallery').lightGallery();
    });
</script>

<footer class="vfooter">
    <div class="vfooter__bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 vfooter__about">
                    <div class="vfooter__about__logo">
                        <img src="/imgs/logo-white.png" alt="">
                    </div>
                    <div class="vfooter__about__info">
                        <p>
                            HelloBeauty is Vietnam’s 1st beauty services marketplace for beauty professionals and clients.
                            Beauty professionals can manage their business, connect with new & existing clients,
                            and showcase their services. Clients can discover beauty services, and book instantly anytime, anywhere
                        </p>
                    </div>
                </div>
                <div class="col-md-2 text-white vfooter__link">
                    <h2 class="vfooter-title">Information</h2>
                    <ul>
                        <li><a href="/pages/about-us">About Us</a></li>
                        <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
                        <li><a href="/pages/how-to-book">How To Book</a></li>
                        <li><a href="/beautydaily">Beauty Daily</a></li>
                        <li><a href="/pages/about-lpoint">About L.POINT</a></li>
                    </ul>

                </div>
                <div class="col-md-2 text-white vfooter__link">
                    <h2 class="vfooter-title">Knowledge Base</h2>
                    <ul>
                        <li><a href="/pages/list-your-business">List Your Business</a></li>
                        <li><a href="/pages/payments-cancellation">Payment & Cancellation</a></li>
                        <li><a href="/pages/payments-cancellation">Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-4 vfooter__connect">
                    <div class="vfooter__connect__payment">
                        <h2 class="vfooter-title">Accepted Payments</h2>
                        <ul class="list__card">
                            <li>
                                <a href="#">
                                    <img src="/imgs/payment/visa.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/imgs/payment/master.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="vfooter__connect__social">
                        <h2 class="vfooter-title">Be Social & Stay Connected</h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vfooter__bottom">
        <div class="container">
            <p>©2020 HelloBeauty. All Rights Reserved</p>
        </div>
    </div>
</footer>

</body>
</html>