<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty Gallery</title>
    <%- include("layout/head-Aritst-son") -%>
    <link rel="stylesheet" type="text/css" href="/css/Gallery-s.css"/>
</head>
<body class="home">

<%- include("layout/navbar-Beauty-Artist-s") -%>
<section class="section gallery-span-s1">
    <span class="gallery-span">photo album makeup contest 2020</span>
</section>
<div class="masonry-container">
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Wedding Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Hariwon, Bắc Từ Liêm</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/SBD01.jpg" alt=""/>
        </div>
    </div>
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Photoshoot Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Phương Thanh, Đống Đa</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/SBD02.jpg" alt=""/>
        </div></div>
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Wedding Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Hồ Ngọc Hà, Hoàn Kiếm</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/SBD04.jpg" alt=""/>
        </div>
    </div>

    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Wedding Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Trang Sun,Tây Hồ</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/test06.jpg" alt=""/>
        </div>
    </div>
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Traditional Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Mỹ Tâm,Hai Bà Trưng</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/SBD09.jpg" alt=""/>
        </div>
    </div>

    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Photoshoot Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Ngọc Dung,Nam Từ Liêm</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/test01.jpg" alt=""/>
        </div>
    </div>
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Basic Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Mai Đỗ,Cầu Giấy</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/anhnen03.jpg" alt=""/>
        </div>
    </div>

    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Bridemaid Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Hà Nguyễn, Đống Đa</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/test07.jpg" alt=""/>
        </div>
    </div>
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Wedding Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Ngọc Trinh, Ba Đình</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/test05.jpg" alt=""/>
        </div>
    </div>

    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Character,Prothestics Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Ngọc Dung, Bắc Từ Liêm</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/test09.jpg" alt=""/>
        </div>
    </div>
    <div class="panel">
        <div class="panel-wrapper">
            <div class="panel-overlay">
                <div class="panel-text">
                    <div class="panel-title">Photoshoot Make Up</div>
                    <div class="panel-tags">
                        <span class="tag-icon"><img class="tag-icon-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/tag-icon.svg" alt=""/></span>
                        <span class="tags-list">Mai Phương Thúy, Thanh Xuân</span>
                    </div>
                </div>
                <img class="panel-gradient" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/base-gradient.png" alt=""/>
                <img class="panel-vingette" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/375042/darken-gradient.png" alt=""/>
            </div>
            <img class="panel-img" src="/imgs-s/test11.jpg" alt=""/>
        </div>
    </div>
</div>

<%- include('layout/footer')-%>

</body>
</html>