<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login acount</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/BeautyArtist.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/H_css_login.css"/>

</head>
<body>
<div class="jumbotron jumbotron-fluid H_css_login">
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align: center;color: #FF5C5C;margin-top: 50px">
                <a href="#" style="color: #ff5c5c">
                    <i class="fa fa-home" style="font-size: 70px"></i>
                </a>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="H_css_login_form">
                        <div class="row">
                            <div class="col-12">
                                <img src="https://partner.hellobeauty.id/assets/images/logo-black.png" style="width: 180px">
                            </div>
                        </div>
                        <form class="col-12 " id="H_form_id" action="#" method="post">
                            <div class="form-group">
                                <input id="email" name="email" type="text" placeholder="Username or email" class="form-control H_css_login_form_input" required="Please enter your email">
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" type="text" placeholder="Password" class="form-control H_css_login_form_input" required="Please enter your email">
                            </div>
                            <div class="col-12" style="text-align: left">
                                <label class="checkbox" style="font-size: 14px">
                                    <input type="checkbox" name="remember">
                                    Remember Me
                                </label>
                            </div>
                            <div class="form-group">
                                <button id="button-login" onclick="notify()" class=" btn-lg btn-block H_css_login_buttom">
                                    Login
                                    <i class="fa">&#xf090;</i>
                                </button>
                            </div>

                            <div style="text-align: left">
                                <p><a href="#" style="color:#ff5c5c;text-decoration: none">Forgot your password?</a></p>
                                <p>Don't have an account? please register <a href="#" style="color: #FF5C5C;text-decoration: none" >here</a>.</p>
                            </div>
                        </form>
                        <p class="col-12" style="margin-top: 65px;color: #777;font-size: 20px">©2020 HelloBeauty</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script>

</script>
</body>
</html>