<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/BeautyArtist.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/H_css_register.css">

</head>
<body>
<div class="jumbotron jumbotron-fluid H_css_login" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="H_css_login_form">
                        <div class="row">
                            <div class="col-12">
                                <img src="https://partner.hellobeauty.id/assets/images/logo-black.png" style="width: 180px">
                            </div>
                        </div>
                        <form class="col-12 " id="H_form_id" action="#" style="text-align: left;line-height: 10px;" >
                            <div class="form-group">
                                <input id="fullname" name="fullname" type="text" placeholder="Full Name" class="form-control H_css_login_form_input" required>
                            </div>
                            <div class="form-group">
                                <input id="fullname" name="fullname" type="radio" placeholder="Full Name" class=" " required>
                                <label> Male</label>
                                <input id="fullname" name="fullname" type="radio" placeholder="Full Name" class=" " required>
                                <label> Female</label>
                            </div>
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <div class="row">
                                    <div class="col-md-3">
                                        <select name="dob_date" class="form-control H_css_login_form_input" >
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <select name="dob_month" class="form-control H_css_login_form_input">
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="dob_year" class="form-control H_css_login_form_input">
                                            <option value="1950">1950</option>
                                            <option value="1951">1951</option>
                                            <option value="1952">1952</option>
                                            <option value="1953">1953</option>
                                            <option value="1954">1954</option>
                                            <option value="1955">1955</option>
                                            <option value="1956">1956</option>
                                            <option value="1957">1957</option>
                                            <option value="1958">1958</option>
                                            <option value="1959">1959</option>
                                            <option value="1960">1960</option>
                                            <option value="1961">1961</option>
                                            <option value="1962">1962</option>
                                            <option value="1963">1963</option>
                                            <option value="1964">1964</option>
                                            <option value="1965">1965</option>
                                            <option value="1966">1966</option>
                                            <option value="1967">1967</option>
                                            <option value="1968">1968</option>
                                            <option value="1969">1969</option>
                                            <option value="1970">1970</option>
                                            <option value="1971">1971</option>
                                            <option value="1972">1972</option>
                                            <option value="1973">1973</option>
                                            <option value="1974">1974</option>
                                            <option value="1975">1975</option>
                                            <option value="1976">1976</option>
                                            <option value="1977">1977</option>
                                            <option value="1978">1978</option>
                                            <option value="1979">1979</option>
                                            <option value="1980">1980</option>
                                            <option value="1981">1981</option>
                                            <option value="1982">1982</option>
                                            <option value="1983">1983</option>
                                            <option value="1984">1984</option>
                                            <option value="1985">1985</option>
                                            <option value="1986">1986</option>
                                            <option value="1987">1987</option>
                                            <option value="1988">1988</option>
                                            <option value="1989">1989</option>
                                            <option value="1990">1990</option>
                                            <option value="1991">1991</option>
                                            <option value="1992">1992</option>
                                            <option value="1993">1993</option>
                                            <option value="1994">1994</option>
                                            <option value="1995">1995</option>
                                            <option value="1996">1996</option>
                                            <option value="1997">1997</option>
                                            <option value="1998">1998</option>
                                            <option value="1999">1999</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control H_css_login_form_input" required>
                            </div>
                            <div class="form-group">
                                <input id="email" name="email" type="text" placeholder="Nguyenvan1234@gmail.com" class="form-control H_css_login_form_input" required="Please enter your email">
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" type="text" placeholder="Password" class="form-control H_css_login_form_input" required="Please enter your email">
                            </div>
                            <div class="form-group ">
                                <input class="form-control H_css_login_form_input" type="text" name="lpoint" placeholder="Introduce Yourself" class="form-control">
                                <small class="text-muted budget-help"><i>Click this link to register L.POINT <a target="_blank" href="http://www.lpoint.co.id/" style="color:#ff5c5c;text-decoration: none">http://www.lpoint.co.id</a></i></small>
                            </div>
                            <p style="line-height: 20px">By clicking the Register button, you have agreed to our <a href="https://www.hellobeauty.id/page/terms-and-conditions" style="color:#ff5c5c;text-decoration: none" target="_blank"> <b>Terms and Conditions</b></a> and<br/> <a href="https://www.hellobeauty.id/page/privacy-policy" style="color:#ff5c5c;text-decoration: none" target="_blank"> <b>Privacy Policy</b></a>.</p>
                            <div class="form-group">
                                <button id="button-login" class=" btn-lg btn-block H_css_login_buttom">
                                    Register
                                    <i class="fa fa-user-plus"></i>
                                </button>
                            </div>

                        </form>
                        <p class="col-12" style="margin-top: 65px;color: #777;font-size: 20px">©2020 HelloBeauty</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>