
<section class="section sticky-top-s ">
    <nav class="navbar navbar-expand-md navbar-light nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="/">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
            <div id="nav-pro" class="nav-from">
                <form class="form-group form-group-nav-pro" action="/Promotion/search-2" method="get" >
                    <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                    <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                For Client
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item nav-item-s-dropdown-s2" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                <div class="dropdown-divider nav-item-s-divider"></div>
                                <a class="dropdown-item nav-item-s-dropdown-s2" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Partner With Us
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item nav-item-s-dropdown" href="#">Beauty Artists</a>
                                <div class="dropdown-divider nav-item-s-divider"></div>
                                <a class="dropdown-item nav-item-s-dropdown" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin"><a href="/login">Login</a> </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section">
    <div class="sbuttons">

        <a href="#" target="_blank" class="sbutton whatsapp" tooltip="WhatsApp"><i class="fab fa-whatsapp"></i></a>

        <a href="#" target="_blank" class="sbutton fb" tooltip="Facebook"><i class="fab fa-facebook-f"></i></a>

        <a href="#" target="_blank" class="sbutton gplus" tooltip="Google Plus"><i class="fab fa-google-plus-g"></i></a>

        <a href="#" target="_blank" class="sbutton twitt" tooltip="Twitter"><i class="fab fa-twitter"></i></a>

        <a href="#" target="_blank" class="sbutton pinteres" tooltip="Pinterest"><i class="fab fa-pinterest-p"></i></a>

        <a target="_blank" class="sbutton mainsbutton" tooltip="Share"><i class="fas fa-share-alt"></i></a>

    </div>
</section>
<section class="section head-s1">
    <div class="video-s">
        <video id="video_background" preload="auto" autoplay="true" loop="loop" muted volume="0">
            <source src="/videos/Makeup Artist Business Profile.mp4" type="video/mp4"/>
        </video>
    </div>
</section>
    <section>
    <div class="H1-s">
        <div id="textSlider">
            <div class="slideCol">
                <div class="scroller">
                    <div class="inner">
                        <p>Be Hold</p>
                        <p>Be yourself</p>
                        <p>Be confident</p>
                        <p>Be colorful</p>
                        <p>Be free</p>
                        <p>Be drave</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span-s">
        <span>Discover and book beauty & wellness professionals near you</span>
    </div>
    <div class="seach-s1">
        <div class="d-flex">
            <div class="col-lg-6 dflexlefts1">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light search-buton-s01" data-toggle="modal" data-target="#exampleModal">
                    <div class="d-flex search-buton">
                        <div class="col-lg-1">
                            <i class="fa fa-search search-buton-s1"></i>
                        </div>
                        <div class="col-lg-11">
                            <span class="search-buton-s1">Book your services...</span>
                        </div>
                    </div>
                </button>

                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="d-flex modal-s1">
                                    <div class="col-lg-1">
                                        <button type="button" class="close close-s1" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class='fas fa-arrow-left' ></i></span>
                                        </button>
                                    </div>
                                    <div class="col-lg-11 col-lg-10-modal">
                                        <h5 class="modal-title modal-title-s1" id="exampleModalLabel">
                                            <form class="form-group col-lg-10-modal" action="/Promotion/search-2" method="get">
                                                <input class="form-control input-s1" type="text" name="keyword" placeholder="What are your looking for?"/>
                                                <button class="btn btn-primary input-s11-s1" type="submit">Search</button>
                                            </form>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body modal-body-s1">
                                <div class="modal-body-top">
                                    <span class="modal-body-top-span">POPULAR SERVICES</span>
                                </div>
                                <div class="modal-body-bottom">
                                    <div class="d-flex modal-body-bottom-s0">
                                        <% tps.map(function (v) { %>
                                        <div class="col-auto modal-body-bottom-s01">
                                            <form action="/Promotion/search/BaSic" method="get">
                                                <button class="btn btn-outline-light modal-body-bottom-s1"  data-toggle="modal" data-target="#myModallogin"><% v.District%></button>
                                            </form>
                                        </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer modal-footer-s1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 dflexrights1">
                <div class="search">
                    <button type="button" class="btn btn-light search-buton-s02" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="search-buton">
                            <div class="d-flex">
                                <div class="col-lg-10 search-buton-left">
                                    <i class='fas fa-map-marker-alt search-buton-s1'>&nbsp&nbsp&nbsp</i>
                                    <span class="search-buton-s1">Hà Nội,Phố Cát Linh</span>
                                </div>
                                <div class="col-lg-2 search-buton-right">
                                    <i class='fas fa-location-arrow search-buton-s1'></i>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex modal-s1">
                                <div class="col-lg-1">
                                    <button type="button" class="close close-s1" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class='fas fa-arrow-left' ></i></span>
                                    </button>
                                </div>
                                <div class="col-lg-11 col-lg-10-modal">
                                    <h5 class="modal-title modal-title-s1" id="exampleModalLabel">
                                        <form class="form-group col-lg-10-modal" action="/Promotion/search" method="get">
                                            <input class="form-control input-s1" type="text" name="keyword" placeholder="Where?"/>
                                            <button class="btn btn-primary input-s11" type="submit">Search</button>
                                        </form>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex">
                                <div class="col-lg-1"><i class='fas fa-location-arrow modal-body-arow'></i></div>
                                <div class="col-lg-7">
                                    <div class="modal-body-span">
                                        Your Current Location
                                    </div>
                                    <div>
                                        Hà nội,Phố Cát Linh
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <form action="/map" method="get">
                                        <button class="btn btn-primary input-s12" type="submit">Search Near Me</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer modal-body-s2">
                            <div class="modal-body-top2">
                                <span class="modal-body-top-span2">POPULAR SERVICES</span>
                            </div>
                            <div class="modal-body-bottom2">
                                <div class="d-flex modal-body-bottom-s0">
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/HaiBaTrung" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hai Bà Trưng</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/HoanKiem" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hoàn Kiếm</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/HaDong" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hà Đông</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/BaDinh" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Ba Đình</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/DongDa" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Đống Đa</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/CauGiay" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Cầu Giấy</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/HoangMai" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Hoàng Mai</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/TayHo" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Tây Hồ</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/NamTuLiem" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Nam Từ Liêm</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/BacTuLiem" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Bắc Từ Liêm</button>
                                        </form>
                                    </div>
                                    <div class="col-auto modal-body-bottom-s01">
                                        <form action="/Promotion/search/ThanhXuan" method="get">
                                            <button class="btn btn-outline-light modal-body-bottom-s1" data-toggle="modal" data-target="#myModallogin">Thanh Xuân</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-fooder">
        <div class="d-flex">
            <div class="col-lg-2"><a class="header-fooder-notamenu" href="/about-us"><span class="header-fooder-notamenu-span">About Us</span></a></div>
            <div class="col-lg-2"><a class="header-fooder-notamenu" href="/services"><span class="header-fooder-notamenu-span">Services</span></a></div>
            <div class="col-lg-2"><a class="header-fooder-notamenu" href="/services"><span class="header-fooder-notamenu-span">Artists</span></a></div>
            <div class="col-lg-2"><a class="header-fooder-notamenu" href="/Gallery"><span class="header-fooder-notamenu-span">Gallery</span></a></div>
            <div class="col-lg-2"><a class="header-fooder-notamenu" href="/beautydaily"><span class="header-fooder-notamenu-span">Blog</span></a></div>
            <div class="col-lg-2"><a class="header-fooder-notamenu" href="#"><span class="header-fooder-notamenu-span">Book Now</span></a></div>
        </div>
    </div>
</section>

