<!doctype html>
<html lang="en">
<head>

    <title>How to Book</title>

    <%- include("layout/head-Aritst-son") -%>
</head>
<body>

<%- include("layout/navbar-Beauty-Artist-s") -%>

    <div class="ftlink">
        <div class="container">
            <h1>How To Book</h1>
            <p>
                You can search for and order beauty services from Beauty Artists at HelloBeauty in 2 ways:
            </p>
            <ol>
                <li> Job Bidding</li>
                    <ul>
                        <li>Click Search Navigation Bar on the main page.</li>
                        <li>Fill in the form provided according to your beauty service or service needs.</li>
                        <li> Wait and you will receive notifications from several Beauty Artists who bid for your needs.</li>
                        <li>You can view portfolios or photographs of the work and submission of price quotes from Beauty Artists.</li>
                        <li>Specify the Beauty Artist that you choose and click the "Accept" button.</li>
                        <li>Receive notifications via E-mail and make payments.</li>
                        <li>The Beauty Artist you choose will contact you shortly.</li>
                    </ul>
                <li>Browse Beauty Artist</li>
                    <ul>
                        <li>Select the service you want (example: Wedding Make Up)</li>
                        <li>Select the city or location where you will need the service.</li>
                        <li>Click the "Search" button</li>
                        <li>Find and select the Beauty Artist you like. Click the Beautician photo to see price info, photo results, ratings & reviews from other clients.</li>
                        <li>Click "Book Now" on the service you want or you can click "Ask for Availability" to ask for the availability of the schedule from the respective Beauty Artist.</li>
                        <li>Enter your order details and complete the order process.</li>
                        <li>Wait for confirmation from the Beauty Artist.</li>
                        <li>Select a payment method and make a payment according to the instructions listed.</li>
                        <li> Voila! Beauty Artist will contact you soon and ready to serve you :)</li>
                    </ul>
            </ol>
            <button class="btn" style="background-color: var(--main-color); color: var(--text-color);margin: 20px">BOOK NOW</button>
        </div>
    </div>
    <%- include ('layout/footer'); -%>
<script src="/js/home-son.js"></script>
</body>
</html>