<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ftlink.css"> <!--    Only for Footer Link-->
</head>
<body>
<div class="ftlink">
    <div class="container">
        <h1>List Your Business</h1>
        <h3>How to Create Your Professional Account on HelloBeauty?</h3>
        <p><b>Join The No.1 Beauty Service Marketplace & Community in Vietnam</b></p>
        <p>
            HelloBeauty helps you as a Beautician <i>(Make Up Artist, Hair Stylist, or Nail Artist)</i> to enhance your online exposure,
            grow and manage your beauty business professionally, while helping clients to find & book preferred beauty services easily.
        </p>
        <p><b>How to get listed?</b></p>
        <ol>
            <li>Click here --> <a href="#" style="color:var(--main-color)">Join HelloBeauty Partner</a></li>
            <li><b>"Sign up"</b> or <b>"Login"</b> to your HelloBeauty partner account.</li>
            <li>Update your HelloBeauty profile page.</li>
            <li>Manage & grow your business with HelloBeauty.</li>
            <li>Start to promote your HelloBeauty page and share your HelloBeauty link to the world.</li>
        </ol>
        <p><b>How to get listed?</b></p>
        <ul>
            <li>FREE online exposure (Free listing)</li>
            <li>FREE online & offline marketing</li>
            <li>Get Professional Account</li>
            <li>Meet new clients (get discovered & booked by clients and build & manage your clientele)</li>
            <li>Online Management System (clientele management, pricelist, schedule, portfolio, and profile page)</li>
            <li>Online Booking (clients can book you from anywhere, anytime 24/7, with automatic notification)</li>
            <li>Convenient Payment (bank transfer, credit card, or HelloPay)</li>
            <li>Events & Bonus</li>
            <li>Connect with Beauty Brands</li>
            <li>And many more</li>

        </ul>
    </div>
</div>

<%- include ('layout/footer'); -%>
</body>
</html>