<!DOCTYPE html>
<html>
<head>
    <title>Adding State to Controls</title>
    <link type="text/css" rel="stylesheet" href="/css/map-son.css"/>
    <%- include("layout/head-Aritst-son") -%>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaj0mHlR-keu-9hsR6d-gB0L9BclG04rk&callback=initMap&libraries=&v=weekly"
            defer
    ></script>
    <script>
        "use strict";

        let map;
        const hanoi = {
            lat: 21.0287993,
            lng: 105.7805116
        };
        /**
         * The CenterControl adds a control to the map that recenters the map on
         * Chicago.
         */

        class CenterControl {
            constructor(controlDiv, map, center) {
                this.map_ = map; // Set the center property upon construction

                this.center_ = new google.maps.LatLng(center);
                controlDiv.style.clear = "both"; // Set CSS for the control border

                const goCenterUI = document.createElement("div");
                goCenterUI.id = "goCenterUI";
                goCenterUI.title = "Click to recenter the map";
                controlDiv.appendChild(goCenterUI); // Set CSS for the control interior

                const goCenterText = document.createElement("div");
                goCenterText.id = "goCenterText";
                goCenterText.innerHTML = "Center Map";
                goCenterUI.appendChild(goCenterText); // Set CSS for the setCenter control border

                const setCenterUI = document.createElement("div");
                setCenterUI.id = "setCenterUI";
                setCenterUI.title = "Click to change the center of the map";
                controlDiv.appendChild(setCenterUI); // Set CSS for the control interior

                const setCenterText = document.createElement("div");
                setCenterText.id = "setCenterText";
                setCenterText.innerHTML = "Set Center";
                setCenterUI.appendChild(setCenterText); // Set up the click event listener for 'Center Map': Set the center of
                // the map
                // to the current center of the control.

                goCenterUI.addEventListener("click", () => {
                    const currentCenter = this.center_;
                    this.map_.setCenter(currentCenter);
                }); // Set up the click event listener for 'Set Center': Set the center of
                // the control to the current center of the map.

                setCenterUI.addEventListener("click", () => {
                    const newCenter = this.map_.getCenter();
                    this.center_ = newCenter;
                });
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: hanoi
            }); // Create the DIV to hold the control and call the CenterControl()
            // constructor passing in this DIV.

            const centerControlDiv = document.createElement("div");
            const control = new CenterControl(centerControlDiv, map, hanoi);
            centerControlDiv.index = 1;
            centerControlDiv.style.paddingTop = "10px";
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(
                centerControlDiv
            );
            var iconBase =
                'https://developers.google.com/maps/documentation/javascript/examples/full/images/';

            var icons = {
                library: {
                    icon: iconBase + 'library_maps.png'
                }
            };

            var features = [
                {
                    position: new google.maps.LatLng(21.0287993, 105.7805116),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.042803, 105.796175),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.037161, 105.836231),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.029926, 105.854181),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.044237, 105.845561),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.011340, 105.848796),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.003288, 105.851338),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.997320, 105.868144),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.004765, 105.845864),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.014827, 105.851542),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.017696, 105.843122),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.019437, 105.834668),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.012349, 105.837030),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.991392, 105.849052),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.986518, 105.852131),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.974144, 105.817302),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.960365, 105.802625),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.001120, 105.814734),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.994698, 105.806700),
                    type: 'library'
                }
                , {
                    position: new google.maps.LatLng(20.998515, 105.804276),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.990835, 105.789377),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.968718, 105.775057),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(20.985643, 105.781984),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.016129, 105.795425),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.008569, 105.803034),
                    type: 'library'
                }


                , {
                    position: new google.maps.LatLng(21.016500, 105.815689),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.020494, 105.818483),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.025766, 105.774680),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.031033, 105.789760),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.037111, 105.786388),
                    type: 'library'
                }, {
                    position: new google.maps.LatLng(21.042534, 105.783599),
                    type: 'library'
                }
            ];

            // Create markers.
            for (var i = 0; i < features.length; i++) {
                var marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon,
                    map: map
                });
            };
        }
    </script>
</head>
<body>
<%- include("layout/navbar-sale-son") -%>
<section class="section">
    <div class="container">
        <div class="map-son-s0">
            <div class="row map-son-s01">
                <div class="map-son-s0-aloso"><hr class="map-son-s0-aloso-span"></div>
                <div class="map-son-s1-aloso"><span class="map-son-s0-span">Artisans System</span></div>
                <div class="map-son-s2-aloso"><hr class="map-son-s2-aloso-span"> </div>
            </div>
        </div>
        <div class="map-son-menu">
            <form method="get" class="form-group">
            <div class="row">
                <div class="col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><span>Tỉnh/Thành Phố</span></label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option value="" disabled selected>select your City</option>
                                <option value="Hà Nội">Hà Nội</option>
                                <option>Hồ Chí Minh</option>
                            </select>
                        </div>
                </div>
                <div class="col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><span>Quận/Huyện</span></label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option value="" disabled selected>select your District</option>
                                <option value="Hoàng Mai">Hoàng Mai</option>
                                <option value="Ba Đình">Ba Đình</option>
                                <option value="Thanh Xuân">Thanh Xuân</option>
                                <option value="Hai Bà Trưng">Hai Bà Trưng</option>
                                <option value="Hoàn Kiếm">Hoàn Kiếm</option>
                                <option value="Đống Đa">Đống Đa</option>
                                <option value="Hà Đông">Hà Đông</option>
                                <option value="Tây Hồ">Tây Hồ</option>
                                <option value="Cầu Giấy">Cầu Giấy</option>
                                <option value="Nam Từ Liêm">Nam Từ Liêm</option>
                                <option value="Bắc Từ Liêm">Bắc Từ Liêm</option>
                            </select>
                        </div>
                </div>
                <div class="col-lg-2">
                        <label for="exampleFormControlSelect1"><span>Tìm Kiếm</span></label>
                        <input class="form-control form-map-son" type="text" name="keyword" placeholder=""/>

                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn-danger map-son-buttom">Tìm Kiếm</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

    <div id="map" class="map-son-s1" ></div>

<%- include('layout/footer')-%>
</body>
</html>