<!DOCTYPE html>
<html>
<head>
    <title>Place Autocomplete Arists Search</title>
    <link type="text/css" rel="stylesheet" href="/css/map-son.css"/>
    <%- include("layout/head-Aritst-son") -%>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHCZ1jCe9H5p88Cv0-IOu83mSdeggqoNw&callback=initMap&libraries=places&v=weekly"
            defer
    ></script>
    <script type="text/javascript" src="/js/map-son.js"></script>

</head>
<body>
<%- include("layout/navbar-sale-son") -%>

<section class="section">
    <div class="container">
        <div class="map-son-s0">
            <div class="row map-son-s01">
                <div class="map-son-s0-aloso"><hr class="map-son-s0-aloso-span"></div>
                <div class="map-son-s1-aloso"><span class="map-son-s0-span">Artisans System</span></div>
                <div class="map-son-s2-aloso"><hr class="map-son-s2-aloso-span"> </div>
            </div>
        </div>
    </div>
</section>
<form method="#" onsubmit="showAddress(this.address.value); return false">
    <div class="hotel-search ">
        <div id="controls" class="controls">
            <div class="col-lg-5 form-group-city">
                <div class="form-group form-group-District form-group-District-city">
                    <label for="exampleFormControlSelect1"><span>City</span></label>
                    <select class="form-control form-control-select" id="exampleFormControlSelect1">
                        <option value="" disabled selected>Select your City</option>
                        <option value="Hà Nội">Hà Nội</option>
<!--                        <option>Hồ Chí Minh</option>-->
                    </select>
                </div>
            </div>
            <div class="col-lg-5">
                <form method="get" class="form-group form-group-District">
                    <label for="exampleFormControlSelect1" class="form-group-District"><span class="form-group-District">District</span></label>
                    <select class="form-control form-control-select" id="country">
                        <option value="all">Select your District</option>
                        <option value="hk">Hoàn Kiếm</option>
                        <option value="hbt">Hai Bà Trưng </option>
                        <option value="hm">Hoàng Mai</option>
                        <option value="dd" selected>Đống Đa</option>
                        <option value="bd">Ba Đình</option>
                        <option value="hd">Hà Đông</option>
                        <option value="cg">Cầu Giấy</option>
                        <option value="btl">Bắc Từ Liêm</option>
                        <option value="ntl">Nam Từ Liêm</option>
                        <option value="th">Tây Hồ</option>
                        <option value="tx">Thanh Xuân</option>
                    </select>
                </form>
            </div>
            <div class="col-lg-2">
<!--                <label for="exampleFormControlSelect1"><span>Tìm Kiếm</span></label>-->
                <input id="pac-input" class="form-control form-map-son" type="text" placeholder="Search Box"/>
            </div>
<!--            <div class="col-lg-2 submit-search">-->
<!--                <button type="submit" class="btn-danger map-son-buttom">Tìm Kiếm</button>-->
<!--            </div>-->
        </div>
    </div>
</form>
    <div id="map" class="map-son-s1"></div>



<%- include('layout/footer')-%>

<script type="text/javascript" src="/js/map-son.js"></script>
</body>
</html>