<!DOCTYPE html>
<html lang="en">
<%- include("header-son") %>
<body>
<%- include("navbar-Promotions-s") %>
<section class="section section-Beauty-Artist">
    <div class="container container-Artisan">
        <div class="container-h1-s">
            <h1>Artist Services</h1>
        </div>
        <div class="container-menu">
            <div class="col-md-12">
                <form action="#" method="post">
                    <div class="form-group">
                        <label class="span-label">Services Name</label>
                        <input type="text" name="aName" class="form-control" placeholder="Username">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Email address</label>
                        <input type="email" name="Email" class="form-control" placeholder="name@gmail.com">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Phone Number</label>
                        <input type="text" name="Phone" class="form-control" placeholder="+084">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">District and City</label>
                        <div class="row">
                            <div class="col-sm-3">
                                <select name="District" class="form-control">
                                    <option value="1">Hoàng Mai</option>
                                    <option value="2">Ba Đình</option>
                                    <option value="3">Thanh Xuân</option>
                                    <option value="4">Hai Bà Trưng</option>
                                    <option value="5">Hoàn Kiếm</option>
                                    <option value="6">Đống Đa</option>
                                    <option value="7">Hà Đông</option>
                                    <option value="8">Tây Hồ</option>
                                    <option value="9">Cầu Giấy</option>
                                    <option value="10">Nam Từ Liêm</option>
                                    <option value="11">Bắc Từ Liêm</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="City" class="form-control">
                                    <option value="1">Hà Nội</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Address</label>
                        <input type="text" name="Adress" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Location</label>
                        <input type="number" name="aLocation" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Intro</label>
                        <input type="text" name="Intro" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Avartar</label>
                        <input type="text" name="Avartar" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">Cover</label>
                        <input type="text" name="Cover" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="span-label">TimeRegis</label>
                        <input type="text" name="TimeRegis" class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-danger" id="btn-step-1"><span>Registration</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>