<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5 CONCEALER WATERPROOF UNTUK SUMMER!</title>
    <link rel="stylesheet" href="/css/N_wateroof.css">
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <script src="https://kit.fontawesome.com/7d186d09cd.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/validator.js"></script>
</head>
<body>
<div class="N_content">
    <div class="N_content_head">
        <div class="N_content_head_beautyevent"><a href="#">Beauty Events & Promo</a></div>
    </div>
    <h1>5 CONCEALER WATERPROOF UNTUK SUMMER!</h1>
    <div class="N_content_intro">
            <span class="N_content_intro_time">
                <span>on</span>
                <span class="N_content_intro_time_date"> JULY 3, 2018</span>
            </span>
        <span class="N_content_intro_time">
                <span>by</span>
                <span class="N_content_intro_time_date">ADMIN</span>
            </span>
        <span class="N_content_intro_time">
                <span class="N_content_intro_time_date">364 VIEWS</span>
            </span>
    </div>
    <div class="N_content_img">
        <img src="/imgs/img/wateroof1.jpg" style="width: 80%;height: 80%" alt="">
    </div>
    <p>Di negara tropis seperti Indonesia yang memiliki musim panas hampir sepanjang tahun, tentunya wanita indonesia membutuhkan makeup yang lebih tahan lama apalagi waterproof. Terkadang kita suka bete untuk beraktivitas diluar karenakan cuaca yang cukup panas dan membuat makeup kita luntur, sehingga harus touch lagi. tapi jangan bersedih, berikut hellobeauty bahas concealer waterproof untuk kamu!</p>
    <div class="N_content_img">
        <img src="/imgs/img/wateroof2.jpg" style="max-width: 100%;height: 100%;text-align: left" alt="">
    </div>
    <p style="font-weight: 700">MAC Studio Finish SPF 35</p>
    <p>Kini, beraktivitas diluar bukan lagi musuh kamu! MAC Studio Finish SPF 35 ini mampu menahan sinar ultraviolet ke dalam kulit kamu. Concealer ini diklaim tahan lama serta sangat coverage, cocok buat kamu yang ingin menhgadiri wedding dengan tema outdoor.</p>
    <div class="N_content_img">
        <img src="/imgs/img/wateroof3.jpg" style="max-width: 100%;height: 100%;text-align: left" alt="">
    </div>
    <p style="font-weight: 700">Kevyn Aucoin The Sensual Skin Enhancer</p>
    <p>Kamu tidak perlu lagi touch up jika ingin berpergian seharian, karena concealer dari Kevyn Aucoin yang sedang di bicarakan dimana mana diklaim dapat mencoverage segala kekurangan pada wajah. Sudah mencoba?</p>
    <div class="N_content_img">
        <img src="/imgs/img/wateroof5.jpg" style="max-width: 100%;height: 100%;text-align: left" alt="">
    </div>
    <p style="font-weight: 700">Nat Creamy Concealer</p>
    <p>Kamu tidak perlu lagi touch up jika ingin berpergian seharian, karena concealer dari Kevyn Aucoin yang sedang di bicarakan dimana mana diklaim dapat mencoverage segala kekurangan pada wajah. Sudah mencoba?</p>
    <div class="N_content_img">
        <img src="/imgs/img/wateroof4.jpg" style="max-width: 100%;height: 100%;text-align: left" alt="">
    </div>
    <div class="N_content_concern">
        <div class="N_content_concern_suggest">
            <span><a href="#">#Beauty Product Review</a></span>
            <span><a href="#">#beauty tips</a></span>
            <span><a href="#">#Hello Beauty</a></span>
            <span><a href="#">#komunitas beauty</a></span>
            <span><a href="#">#Makeup tips</a></span>


        </div>
        <div class="N_content_concern_share">
            <span>Share</span>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
        </div>
    </div>
    <div class="N_recommend">
        <span class="N_recommend_tittle">Recommended for you</span>
        <div class="N_recommend_content row">
            <div class="col-md-4">
                <img src="/imgs/img/recommend1.jpeg" style="max-width: 100%;max-height: 90%" alt="">
                <span><a href="#">Penyebab Munculnya Jerawat</a></span>
                <span class="N_date">on JANUARY 17, 2019</span>
            </div>
            <div class="col-md-4">
                <img src="/imgs/img/recommend3.jpeg" style="max-width: 100%;max-height: 90%" alt="">
                <span><a href="#">KOMUNITAS HELLOBEAUTY, SEMAKIN MEMPERERAT PARA MUA.</a></span>
            </div>
            <div class="col-md-4">
                <img src="/imgs/img/recommend2.jpeg" style="max-width: 100%;max-height: 90%" alt="">
                <span><a href="#">Inspirasi Makeup untuk Mama</a></span>

            </div>

        </div>
    </div>
</div>
</body>
</html>