<!DOCTYPE html>
<html lang="en">
<%- include("header-son") %>
<body>

<%- include("Preloader-son") %>

<section class="section head-s1">
    <div class="img-banne-s">
        <img src="/imgs-s/banner-son.jpg">
    </div>
    <nav class="navbar navbar-expand-md navbar-light sticky-top nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="#">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
            <form class="form-group form-group-nav-pro" action="/search" method="get">
                <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FOR CLIENT
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Job Bidding</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARTNER WITH US
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Artists</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header-promotion">
        <span class="header-promotion-span-s1">Beauty Artist</span><br>
        <span class="header-promotion-span-s2">Find and book your favorite beauty artist.</span>
    </div>
</section>
</body>
</html>