<!doctype html>
<html lang="en">
<head>

    <title>Payment and Cancellation</title>
    <%- include("layout/head-Aritst-son") -%>
     <!--    Only for Footer Link-->
</head>
<body>

<%- include("layout/navbar-Beauty-Artist-s") -%>

<div class="ftlink">
    <div class="container">
        <h1>Payment & Cancellation Policy</h1>
        <ol>
            <li> Payment method available: bank transfer and credit card (by using payment gateway service as a third party). And pay directly to beautician (cash).</li>
            <li> For bank transfer payment, customer have 24 hours to process the payment, after get a confirmation from HelloBeauty. We will cancel the booking if there is no payment within 24 hours.</li>
            <li> Cancellation within 48 hours: full refund or can be used it for the next booking.</li>
            <li> Cancellation more than 48 hours until 7 days before the appointment schedule: 50% refund from total amount paid by Customer.</li>
            <li> Cancellation less than 7 days before the appointment schedule: non-refundable from total amount paid by Customer.</li>
            <li> We provide full refund for Customer if cancellation is made by Beautician.</li>
            <li> Service amount less than Vnd 1.000.000,- (total): Full Payment </li>
            <li> Service amount more than Vnd 1.000.000,- (total): Customer has options to choose Full Payment or 50% Down Payment (repayment maximum 7 days before the appointment schedule).</li>
            <li> HelloBeauty have an escrow regulation for the safety between Customers and Beauticians. Every payment made by Customer, will be held by HelloBeauty as a marketplace, and will be sent to Beautician after the service is done and confirmed by Customer. If there's no confirmation from Customer within 24 hours after the service done, HelloBeauty will send the payment to Beautician directly.</li>
            <li> HelloBeauty will hold the payment and take an action if there is any service issue regarding unwanted situation between Customer & Beautician, and will continue the process based on the result. There will be a penalty for any beautician who is responsible for any unwanted case and the account will be suspended for undisclosed period.</li>
            <li> Customer has to book service based on the real service occasion they need. If there’s any difference between the service that has been booked by customer with the real service occasion. Customer has to pay the real service occasion rate / amount.</li>
        </ol>

    </div>
</div>

<%- include ('layout/footer'); -%>
<script src="/js/home-son.js"></script>
</body>
</html>