<!doctype html>
<html lang="en">
<head>
    <title>Privacy Policy</title>
    <%- include("layout/head-Aritst-son") -%>
</head>
<body>

<%- include("layout/navbar-Beauty-Artist-s") -%>

<div class="ftlink">
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>Last Update: Aug 30th 2020</p>
        <ol>
            <li>User Information</li>
                <ul>The Information you give directly to us</ul>
                <ul>Your username, email address, password, full name when you register</ul>
                <ul>The Information from Instagram</ul>
                <ul>We only collect public information of your instagram account ( username, id, fullname, profile picture ) when you register your instragram to us</ul>
            <li>What is the information used for?</li>
                <ul>
                    <li>For user authentication when you login</li>
                    <li>For booking notification & veritifcation</li>
                    <li>For payment verification</li>
                    <li>For statistical analysis of the users of our sites</li>
                    <li>For our website improvements</li>
                </ul>
            <li>Sharing of Your Information</li>
                <ul>
                    <li>We may share the photos you given to us directly / via instagram</li>
                    <li>We will not sell or rent any of your personal information to anyone without your permission</li>
                    <li>We will share your personal details with a third party only if we got acquired by other company or goverment policy.</li>
                </ul>
            <li>How we protect your personal information</li>
                <ul>
                    We take security measures to help safeguard your personal information from unauthorized access and disclosure.
                    However, no system can be completely secure. Therefore, although we take steps to secure your information,
                    we do not promise, and you should not expect, that your personal information, chats, or other communications
                    will always remain secure. Users should also take care with how they handle and disclose their personal information
                    and should avoid sending personal information through insecure email.
                </ul>
            <li>Changes to this Privacy Policy</li>
                <ul>
                    We will occasionally update this Privacy Policy to reflect changes in the law, our data collection and use practices,
                    the features of our Service, or advances in technology. When we post changes to this Privacy Policy, we will revise the
                    "last updated" date at the top of this Privacy Policy. If we make any material changes to this Privacy Policy, we will notify
                    you of the changes by reasonable means, which could include notifications through the Services or via email. Your continued use
                    of the Services following the posting of changes to this policy will mean you consent to and accept those changes.
                </ul>
            <li>How To Contact Us</li>
                <ul>You can contact us at +84 943064205</ul>
        </ol>
    </div>
</div>

<%- include ('layout/footer'); -%>
<script src="/js/home-son.js"></script>
</body>
</html>