<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty Gallery</title>
    <%- include("layout/head-Aritst-son") -%>

    <link rel="stylesheet" type="text/css" href="/css/Arists-promotion-son.css"/>
</head>
<body class="home">

<%- include("layout/navbar-Beauty-Artist-s") -%>

<section class="section">
    <div class="container">
        <div class="d-flex">
            <div class="col-lg-4 dropdown-pro-son">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle btn-secondary-pro-son" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Default</a>
                        <a class="dropdown-item" href="#">Highest Discount >> Lowest Discount</a>
                        <a class="dropdown-item" href="#">Lowest Discount >> Highest Discount</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group form-control-pro">
                    <label class="lable-pro-son">Select City</label>
                    <input type="text" name="name" class="form-control form-control-pro-son" id="Cname">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="d-flex">
            <div class="col-lg-3">
                <div class="Beauty-Artist-s1">
                    <!--                     <a href="/artist" class="Beauty-Artist-a">-->
<!--                 <img class="imgs-avartar" src="http://trangsun.com/public/images/backgrounds/mu2.jpg" alt="a">-->
                    <div class="Beauty-Artist-s11">
                        <a href="/artist" class="Beauty-Artist-s11-a">
                            <img class="img-fluid imgs-cover" src="http://trangsun.com/public/images/backgrounds/musl3.jpg" alt="a">
                        </a>
                        <img class="img-fluid imgs-avartar" src="http://trangsun.com/public/images/backgrounds/mu2.jpg" alt="a">
                    </div>
                    <div class="Beauty-Artist-s112">
                        <a href="/artist" class="Beauty-Artist-s112-a"><span class="Beauty-Artist-s112-span">Trang Sun</span></a>
                    </div>
                    <div class="Beauty-Artist-s1123">
                        <a class="Beauty-Artist-s1123-a">Discount 25% OFF</a>
                    </div>
                    <div class="Beauty-Artist-s12">
                        <a href="/artist" class="header-fooder-notamenu-s4">
                            <div class="d-flex Beauty-Artist-s121">
                                <div class="tensp"><span class="Beauty-Artist-s121-span"><del>1.200.000 VND</del></span></div>
                                <div class="Beauty-Artist-s1212"><i class='fas fa-arrow-right'></i></div>
                                <div class="tensp"><span class="Beauty-Artist-s121-span">900.000 VND</span> </div>
                            </div>
                        </a>
                        <div class="Beauty-Artist-s12-name">
                            <a href="/artist" class="header-fooder-notamenu-s4">
                                <span>Wedding Make Up</span>
                            </a>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <div class="col-lg-6 Beauty-Artist-s126">
                                <div class="d-flex Beauty-Artist-s125">
                                    <a href="/artist" class="header-fooder-notamenu-s4">
                                        <i class="fa fa-clock-o Beauty-Artist-s125-icon"></i>
                                        <span class="Beauty-Artist-s125-span">Until</span>
                                    </a>
                                </div>
                                <div class="Beauty-Artist-s12-SWTime">
                                    <span>10/09/2020</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex Beauty-Artist-s125">
                                    <a href="#" class="header-fooder-notamenu-s4 header-fooder-notamenu-s42">
                                        <i class='fas fa-map-marker-alt Beauty-Artist-s125-icon'></i>
                                        <span class="Beauty-Artist-s125-span">District</span>
                                    </a>
                                </div>
                                <div class="Beauty-Artist-s12-SWTime">
                                    <span>Cầu Giấy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                     </a>-->
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>



<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/home-son.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>

<%- include('layout/footer')-%>

</body>
</html>