<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty Gallery</title>
    <%- include("layout/head-Aritst-son") -%>

    <link rel="stylesheet" type="text/css" href="/css/salon-son.css"/>
</head>
<body class="home">

<!--<%- include("layout/navbar-Promotions-s") -%>-->

<section class="section salon-nav-s1">
    <div class="container-fluid salon-nav-s2">
            <div class="salon-nav-s2">
                <div class="salon-nav-s2-1">
                    <img src="/imgs-s/saloncove.jfif" class="img-fluid">
                </div>
                <div class="salon-nav-s2-2">
                    <div class="salon-nav-s3">
                        <div class="salon-nav-s3-1">
                            <img src="/imgs-s/saloncove2.jfif" class="img-fluid">
                        </div>
                        <div class="salon-nav-s3-1">
                            <img src="/imgs-s/saloncove3.jfif" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="section section-salon-2">
    <div class="container">
        <div class="d-flex">
            <div class="col-lg-2">
                <img src="/imgs-s/kiwilogo.jpg" class="img-fluid">
            </div>
            <div class="col-lg-10">
                <div class="section-salon-2-h1">
                    <h1>Kriki Salon</h1>
                </div>
                <div class="d-flex">
                    <div >
                        <a href="#">
                            <span>1233</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <span>313123</span>
                        </a>
                    </div>
                </div>
                <div>
                        <span>313123 fsdfffffff fsdfffffff dsfffffffffff</span>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/home-son.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>

<%- include('layout/footer')-%>

</body>
</html>