<!doctype html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Service</title>-->


<!--    <script src="https://kit.fontawesome.com/7d186d09cd.js" crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" src="/js/jquery.js"></script>-->
<!--    <script type="text/javascript" src="/js/validator.js"></script>-->
<!--    <script type="text/javascript" src="/js/home-son.js"></script>-->
<!--    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">-->
<!--    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">-->
<!--    <link rel="stylesheet" href="/css/footer.css">-->
<!--    <link rel="stylesheet" href="/css/main.css">-->
<!--        <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>-->
<!--        <script type="text/javascript" src="/js/home-son.js"></script>-->
<!--        <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
<!--        <script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--        <script type="text/javascript" src="/js/jquery.js"></script>-->
<!--        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">-->
<!--        <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>-->
<!--    <link rel="stylesheet" href="/css/N_artist.css">-->
        <meta charset="UTF-8">
        <title>Services</title>
        <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/validator.js"></script>
        <script type="text/javascript" src="/js/home-son.js"></script>
        <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="/js/jquery.js"></script>

        <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/N_artist.css">


</head>
<body>

<section class="section sticky-top">
    <nav class="navbar navbar-expand-md navbar-light  nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="/">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
            <form class="form-group form-group-nav-pro" action="/search" method="get">
                <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FOR CLIENT
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARTNER WITH US
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Artists</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section">
    <div class="container">
        <div class="N_cover" style="background-image: url(/imgs/img/a07b09bda52a8defd6aa7f611cfa9937-0-460.jpeg)">
            <div class="N_cover_avatar">
                <img  src="/imgs/img/avata.jpeg" alt="" class="imgavata" style="border-radius: 50%;width: 100%;border: 5px solid white">
            </div>
        </div>
        <div class="N_profile">
            <div class="N_profile_name">
                Kemuningpsmakeup
                <img src="/imgs/img/tichs%20do.png" style="height: 50px">
            </div>
            <div class="N_profile_aftername">Jakarta Selatan - DKI Jakarta</div>
            <div class="N_profile_bio">
                I am a certified Makeup artist based in Jakarta. My objective is to make all my clients look special and stunning by using the high quality products and skilfully applying the latest techniques. I constantly keep up to date with the latest products and techniques by attending professional workshops,
                beauty exhibitions and working alongside other makeup artists on hellow beauty community.
            </div>
            <div class="N_profile_note">
                Cle De Peau, Channel, YSL, Estee Lauder, Makeup Forever, Urban Decay, Kryolan, Naturactor, Dermablend, Ultima, Too Faced, Naked, Mac, NYX, The Balm etc
            </div>
            <div class="N_profile_addFavorite">
                <button class="N_favorite"><i class="far fa-heart"></i> Add to Favorite </button>
            </div>
            <div class="N_profile_ask">
                <button class="N_ask">Ask availabity <i class="fas fa-comment"></i> </button>
            </div>
            <div class="row N_profile_job ">
                <div class="N_profile_job_JobDone col-md-4 border-box">
                    <div style="font-size: 18px; color: #FF5C5D; padding: 10px 0">289</div>
                    <div style="color: rgba(0,0,0,.54)"><i class="fas fa-briefcase"></i></div>
                    <div style="font-size: 18px;letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Job Done</div>

                </div>
                <div class="N_profile_job_member col-md-4 border-box">
                    <div style="font-size: 18px;letter-spacing: 0.2px; color: #FF5C5D; padding: 10px 0">May 2018</div>
                    <div style="color: rgba(0,0,0,.54)"><i class="fas fa-user"></i></div>
                    <div style="font-size: 18px;letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Member Since</div>
                </div>
                <div class="N_profile_job_rate col-md-4 border-box">
                    <div style="font-size: 14px;color: #FF5C5D">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <br/><span style="letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Rating From 82 Reviews</span>
                </div>
            </div>
        </div>
        <div class="Portfolio">
            <div class="Portfolio_name">
                Portfolio
            </div>

            <div class="Portfolio_img row">
                <div class="column col-xs-12 col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(1)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_1.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(2)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_2.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(3)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_3.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(4)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_4.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(5)" >
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_5.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(6)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_6.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(7)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_7.jpeg"  alt="">

                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(8)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_8.jpeg"  alt="">
                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(9)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_9.jpeg"  alt="">
                </div>
                <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(10)">
                    <i class="fas fa-search-plus"></i>
                    <img src="/imgs/img/Portfolio_10.jpeg"  alt="">
                </div>

            </div>
            <div  id="ShowMoreIMG" style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" style="color: #FF5C5C"><i class="fas fa-image"></i> Show more portfolios </a></div>

            <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">

                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_1.jpeg" style="width: 100%;max-height: 100%"  alt="">
                    </div>

                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_2.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>

                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_3.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_4.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_5.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_6.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_7.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_8.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_9.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <div class="mySlides">
                        <img src="/imgs/img/Portfolio_10.jpeg" style="width: 100%;max-height: 100%" alt="">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                </div>
            </div>

        </div>
        <div class="N_Service">
            <div class="N_Service_name">
                Service
            </div>
            <div class="N_Beauty">
                <div class="N_Beauty_Name">
                    Beauty class
                </div>
                <div class="N_Beauty_Private">
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            1 x Private Self Makeup Class
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            Include: Makeup & Tools and Phtosession, Located on Kemuningpsmakeup’s Studio (Mampang Jak sel) Book
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>  IDR 700.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>  For 3 hour</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>
                <div class="N_Beauty_Private">
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            1 x Private Wedding or Party Makeup Class
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            Include: Makeup & Tools, attiree & Accesories (Kemuningpsmakeup's collection, Hairstylist on Model, Photosession, Exclude Model. Located on Kemuningpsmakeup’s Studio (Mampang Jak sel) Note: get a chance to be a member of kemuningpsmakeup team                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>   IDR 1.250.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>  For 4 hour</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>
                <div class="N_Beauty_Private" >
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            Group of 2 Private Party or Wedding Makeup Class
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            private untuk 2 orang. Include: Attiree & Accesories (Kemuningpsmakeup's collection) Photosession, Exclude Model and hairstylist. Located on Kemuningpsmakeup’s Studio (Mampang Jak sel) Note: get a chance to be the member of kemuningpsmakeup team
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>   IDR 1.500.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>  For 5 hour</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>
            </div>
            <div class="N_Beauty">
                <div class="N_Beauty_Name">
                    BASIC MAKE UP (PARTY, GRADUATION OR DAILY MAKE UP)
                </div>
                <div class="N_Beauty_Private">
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            Makeup Only for Party / Bridesmaid / Graduation / Prom / Year End Book
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            additional hair/hijab do range fee 100 - 200k (exclude transport fee) Booking fee to lock the date Book
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>  IDR 400.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>   For 45 minutes</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>
                <div class="N_Beauty_Private" >
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            Makeup and simple Hair/Hijab do for Party / Bridesmaid / Graduation / Prom / Year End Book
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            good deal package :) (exclude transport fee) Booking fee to lock the date Get Special Price if booked more than 3 pax Book
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>   IDR 550.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>  For 1 hour and 30 minutes</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a></button>
                    </div>
                </div>

                <div class="N_Beauty_Private" >
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            Makeup Hijabdo for 10 person (Package Party Makeup)
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            10 pax Paket Makeup hair/hijabdo untuk acara wedding atau acara kantor Additional hair/hijab range fee 100-200k/per person (exclude transport fee) Booking fee to lock the date                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>   IDR 3.300.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>  For 3 hour</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>

            </div>
            <div class="N_Beauty">
                <div class="N_Beauty_Name">
                    WEDDING MAKE UP
                </div>
                <div class="N_Beauty_Private">
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            Wedding Makeup Only Special Price
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            Produk yang digunakan Cle De Peau, Channel, Dior, Makeup Forever, Shu Uemura, Estee Lauder, Becca, Too Faced, etc Additional hair/hijab range fee 250-400k (exclude transport fee) Booking fee to lock the date Book
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>  IDR 850.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>    For 2 hours and 30 minutes</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>
                <div class="N_Beauty_Private">
                    <div class="N_Beauty_Private_introduce">
                        <div class="N_Beauty_Private_introduce_first">
                            Wedding Package with Attiree (Busana)
                        </div>
                        <div class="N_Beauty_Private_introduce_second">
                            - 1 x make up Hair/hijabdo dan busana nasional Akad/Pemberkatan - 1 x make up hair/hijabdo retouch (same day) dan busana nasional Resepsi - Makeup hijab/hairdo dan Busana 2 ibu cpw dan cpp - Busana 2 bapak cpw dan cpp - Makeup hair/hijabdo dan Busana 2 pagar ayu (exclude transport fee) Booking fee to lock the date Book
                        </div>
                        <div class="N_Beauty_Private_introduce_ID">
                            <span><i class="far fa-money-bill-alt"></i>  IDR 5.000.000,00</span>
                        </div>
                        <div class="N_Beauty_Private_introduce_time">
                            <span><i class="far fa-calendar-alt"></i>    For 5 hours</span>
                        </div>

                    </div>
                    <div class="N_Beauty_Private_Book">
                        <button class="N_Beauty_Private_Book_name"><a href="/booking">Book </a> </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="N_Review">
            <div class="N_Review_name">
                Review
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                dr purisakti
                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 1 month ago
                            </div>
                        </div>
                    </div>

                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart" style="color: white"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        The best MUA ever! Never disappointed
                    </div>
                </div>
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                indah
                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 1 month ago
                            </div>
                        </div>
                    </div>
                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart" style="color: white"></i>
                        <i class="fas fa-heart" style="color: white"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        Sukaa bgt sama hasil makeupnyaa dan tahan lama walaupun lama di outdoor :) recommendedd apalagi kak kemuningnya jg ramaah bgt❤
                    </div>
                </div>
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                okta
                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 2 months ago
                            </div>
                        </div>
                    </div>
                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        Make up nya flawless sesuai request dan tahan lama jadi sampai acara selesai juga tetap cetar membahana ☺️☺️ Yg love bngt alisnya sih keliatan natural bngt
                    </div>
                </div>
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                Olin
                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 1 month ago
                            </div>
                        </div>
                    </div>
                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart" style="color: white"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        always cool... one of my favorite MUA!

                    </div>
                </div>
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                Ratih Mahariani

                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 1 month ago
                            </div>
                        </div>
                    </div>
                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        Make up excellent , hairdo ok

                    </div>
                </div>
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                rizka
                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 5 months ago
                            </div>
                        </div>
                    </div>
                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="far fa-heart"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        Suka banget sama makeupnya kak muning utk acara pengajian pra nikah aku, natural flawless gitu. Dan tahan lama banget utk basenya, seharian ga bergeser ❤
                    </div>
                </div>
            </div>
            <div class="N_Review_comment">
                <div class="N_Review_comment_intro row">
                    <div class="N_Review_comment_intro_ava col-md-6">
                        <img src="/imgs/img/review%20ava.png" alt="">
                        <div class="N_Review_comment_intro_ava_rating">
                            <div class="N_Review_comment_intro_ava_rating_name">
                                Clara Sipayung

                            </div>
                            <div class="N_Review_comment_intro_ava_rating_day">
                                Posted 7 months ago
                            </div>
                        </div>
                    </div>
                    <div class="N_Review_comment_intro_rating col-md-6">
                        <span>Rating given</span>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-heart"></i>
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="N_Review_comment_intro_comment col-md-12">
                        Suka banget sama make up engagement by ka kemuning. Friendly bgt orang nyaa.. Nanti D-day booking lgi ya kaa utk family
                    </div>
                </div>
            </div>
            <div style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" id="loadMore" style="color: #FF5C5C"><i class="far fa-heart"></i> Load More Review </a></div>
            <div style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" id="loadLess" style="color: #FF5C5C"><i class="far fa-heart"></i> Load Less Review </a></div>

        </div>
        <div class="N_Terms">
            <div class="N_Terms_Name">
                Terms & Conditions
            </div>
            <span>
             For appointment please reserve H-2
        </span>
        </div>
    </div>
    <%- include('layout/footer')-%>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".column").slice(0, 4).show();
            $("#ShowMoreIMG").on("click", function(e){
                e.preventDefault();
                $(".column:hidden").slice(0, 4).slideDown();
                if($(".column:hidden").length == 0) {
                    $("#ShowMoreIMG").hide();
                }
            });

        })

        $(document).ready(function(){
            $(".N_Review_comment").slice(0, 4).show();
            $("#loadLess").hide()
            $("#loadMore").on("click", function(e){
                e.preventDefault();
                $(".N_Review_comment:hidden").slice(0, 4).slideDown();

                if($(".N_Review_comment:hidden").length == 0) {
                    $("#loadLess").show();
                    $("#loadMore").hide();
                }
            });
            $("#loadLess").on("click", function(e){
                e.preventDefault();
                $(".N_Review_comment:visible").slice(-4).slideUp();
                if($(".N_Review_comment:hidden").length <= 4) {
                    $("#loadLess").hide();
                    $("#loadMore").show();
                }
            });

        })

        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";


        }
        var modal = document.getElementById("myModal");
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
        function calcRate(r) {
            const f = ~~r,//Tương tự Math.floor(r)
                id = 'star' + f + (r % f ? 'half' : '')
            id && (document.getElementById(id).checked = !0)
        }
        $(document).ready(function(){
            var sudoSlider = $(".modal-content").sudoSlider({
                // Autoheight is on per default.
            });
        });
    </script>
</section>
<script type="text/javascript">

    //     //Preloader set fixed time
    setTimeout(function () {
        $(".loader-bg").fadeToggle();
    },3000);


    // When the user scrolls down 10px from the top of the document, slide down the navbar
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.getElementById("nav-head-s").style.background = "#FFFFFF";
        } else {
            document.getElementById("nav-head-s").style.background = "none";
        }
    }


    <!-- Initialize Swiper -->

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        direction: getDirection(),
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            resize: function () {
                swiper.changeDirection(getDirection());
            }
        }
    });

    function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

        return direction;
    }

</script>
</body>
</html>