<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/N_artist.css">
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <script src="https://kit.fontawesome.com/7d186d09cd.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/validator.js"></script>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div class="content">
    <div class="N_cover" style="background-image: url(/imgs/img/a07b09bda52a8defd6aa7f611cfa9937-0-460.jpeg)">
        <div class="N_cover_avatar">
            <img  src="/imgs/img/avata.jpeg" alt="" class="imgavata" style="border-radius: 50%;width: 100%;border: 5px solid white">
        </div>
    </div>
    <div class="N_profile">
        <div class="N_profile_name">
            Kemuningpsmakeup
            <img src="/imgs/img/tichs%20do.png" style="height: 50px">
        </div>
        <div class="N_profile_aftername">Jakarta Selatan - DKI Jakarta</div>
        <div class="N_profile_bio">
            I am a certified Makeup artist based in Jakarta. My objective is to make all my clients look special and stunning by using the high quality products and skilfully applying the latest techniques. I constantly keep up to date with the latest products and techniques by attending professional workshops,
            beauty exhibitions and working alongside other makeup artists on hellow beauty community.
        </div>
        <div class="N_profile_note">
            Cle De Peau, Channel, YSL, Estee Lauder, Makeup Forever, Urban Decay, Kryolan, Naturactor, Dermablend, Ultima, Too Faced, Naked, Mac, NYX, The Balm etc
        </div>
        <div class="N_profile_addFavorite">
            <button class="N_favorite"><i class="far fa-heart"></i> Add to Favorite </button>
        </div>
        <div class="N_profile_ask">
            <button class="N_ask">Ask availabity <i class="fas fa-comment"></i> </button>
        </div>
        <div class="row N_profile_job ">
            <div class="N_profile_job_JobDone col-md-4 border-box">
                <div style="font-size: 18px; color: #FF5C5D; padding: 10px 0">289</div>
                <div style="color: rgba(0,0,0,.54)"><i class="fas fa-briefcase"></i></div>
                <div style="font-size: 18px;letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Job Done</div>

            </div>
            <div class="N_profile_job_member col-md-4 border-box">
                <div style="font-size: 18px;letter-spacing: 0.2px; color: #FF5C5D; padding: 10px 0">May 2018</div>
                <div style="color: rgba(0,0,0,.54)"><i class="fas fa-user"></i></div>
                <div style="font-size: 18px;letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Member Since</div>
            </div>
            <div class="N_profile_job_rate col-md-4 border-box">
                <div style="font-size: 14px;color: #FF5C5D">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <br/><span style="letter-spacing: 0.2px;color: rgba(0,0,0,.54)">Rating From 82 Reviews</span>
            </div>
        </div>
    </div>
    <div class="Portfolio">
        <div class="Portfolio_name">
            Portfolio
        </div>

        <div class="Portfolio_img row">
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(1)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_1.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(2)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_2.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(3)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_3.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(4)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_4.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(5)" >
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_5.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(6)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_6.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(7)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_7.jpeg"  alt="">

            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(8)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_8.jpeg"  alt="">
            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(9)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_9.jpeg"  alt="">
            </div>
            <div class="column col-md-3 hover-shadow cursor" onclick="openModal();currentSlide(9)">
                <i class="fas fa-search-plus"></i>
                <img src="/imgs/img/Portfolio_10.jpeg"  alt="">
            </div>
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_1.jpeg" style="width: 100%;height: 100%"  alt="">
                </div>

                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_2.jpeg" style="width:100%;height: 100%" alt="">
                </div>

                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_3.jpeg" style="width:100%;height: 100%" alt="">
                </div>

                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_4.jpeg" style="width:100%;height: 100%" alt="">
                </div>
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_5.jpeg" style="width:100%;height: 100%" alt="">
                </div>
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_6.jpeg" style="width:100%;height: 100%" alt="">
                </div>
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_7.jpeg" style="width:100%;height: 100%" alt="">
                </div>
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_8.jpeg" style="width:100%;height: 100%" alt="">
                </div>
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_9.jpeg" style="width:100%;height: 100%" alt="">
                </div>
                <div class="mySlides">
                    <img src="/imgs/img/Portfolio_10.jpeg" style="width:100%;height: 100%" alt="">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

            </div>
        </div>
        <div style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" id="ShowMoreIMG" style="color: #FF5C5C"><i class="fas fa-image"></i> Show more portfolios </a></div>
    </div>
    <div class="N_Service">
        <div class="N_Service_name">
            Service
        </div>
        <div class="N_Beauty">
            <div class="N_Beauty_Name">
                Beauty class
            </div>
            <div class="N_Beauty_Private">
                <div class="N_Beauty_Private_introduce">
                    <div class="N_Beauty_Private_introduce_first">
                        1 x Private Self Makeup Class
                    </div>
                    <div class="N_Beauty_Private_introduce_second">
                        Include: Makeup & Tools and Phtosession, Located on Kemuningpsmakeup’s Studio (Mampang Jak sel) Book
                    </div>
                    <div class="N_Beauty_Private_introduce_ID">
                        <span><i class="far fa-money-bill-alt"></i>  IDR 700.000,00</span>
                    </div>
                    <div class="N_Beauty_Private_introduce_time">
                        <span><i class="far fa-calendar-alt"></i>  For 3 hour</span>
                    </div>

                </div>
                <div class="N_Beauty_Private_Book">
                    <button class="N_Beauty_Private_Book_name">Book </button>
                </div>
            </div>
            <div class="N_Beauty_Private" ID="Beauty_Private_wedding">
                <div class="N_Beauty_Private_introduce">
                    <div class="N_Beauty_Private_introduce_first">
                        1 x Private Wedding or Party Makeup Class
                    </div>
                    <div class="N_Beauty_Private_introduce_second">
                        Include: Makeup & Tools, attiree & Accesories (Kemuningpsmakeup's collection, Hairstylist on Model, Photosession, Exclude Model. Located on Kemuningpsmakeup’s Studio (Mampang Jak sel) Note: get a chance to be a member of kemuningpsmakeup team                        </div>
                    <div class="N_Beauty_Private_introduce_ID">
                        <span><i class="far fa-money-bill-alt"></i>   IDR 1.250.000,00</span>
                    </div>
                    <div class="N_Beauty_Private_introduce_time">
                        <span><i class="far fa-calendar-alt"></i>  For 4 hour</span>
                    </div>

                </div>
                <div class="N_Beauty_Private_Book">
                    <button class="N_Beauty_Private_Book_name">Book </button>
                </div>
            </div>
            <div class="N_Beauty_Private" >
                <div class="N_Beauty_Private_introduce">
                    <div class="N_Beauty_Private_introduce_first">
                        Group of 2 Private Party or Wedding Makeup Class
                    </div>
                    <div class="N_Beauty_Private_introduce_second">
                        private untuk 2 orang. Include: Attiree & Accesories (Kemuningpsmakeup's collection) Photosession, Exclude Model and hairstylist. Located on Kemuningpsmakeup’s Studio (Mampang Jak sel) Note: get a chance to be the member of kemuningpsmakeup team
                    </div>
                    <div class="N_Beauty_Private_introduce_ID">
                        <span><i class="far fa-money-bill-alt"></i>   IDR 1.500.000,00</span>
                    </div>
                    <div class="N_Beauty_Private_introduce_time">
                        <span><i class="far fa-calendar-alt"></i>  For 5 hour</span>
                    </div>

                </div>
                <div class="N_Beauty_Private_Book">
                    <button class="N_Beauty_Private_Book_name">Book </button>
                </div>
            </div>
        </div>
        <div class="N_Beauty" id="N_Beauty_BasicMakeUp">
            <div class="N_Beauty_Name">
                BASIC MAKE UP (PARTY, GRADUATION OR DAILY MAKE UP)
            </div>
            <div class="N_Beauty_Private">
                <div class="N_Beauty_Private_introduce">
                    <div class="N_Beauty_Private_introduce_first">
                        Makeup Only for Party / Bridesmaid / Graduation / Prom / Year End Book
                    </div>
                    <div class="N_Beauty_Private_introduce_second">
                        additional hair/hijab do range fee 100 - 200k (exclude transport fee) Booking fee to lock the date Book
                    </div>
                    <div class="N_Beauty_Private_introduce_ID">
                        <span><i class="far fa-money-bill-alt"></i>  IDR 400.000,00</span>
                    </div>
                    <div class="N_Beauty_Private_introduce_time">
                        <span><i class="far fa-calendar-alt"></i>   For 45 minutes</span>
                    </div>

                </div>
                <div class="N_Beauty_Private_Book">
                    <button class="N_Beauty_Private_Book_name">Book </button>
                </div>
            </div>
            <div class="N_Beauty_Private" >
                <div class="N_Beauty_Private_introduce">
                    <div class="N_Beauty_Private_introduce_first">
                        Makeup and simple Hair/Hijab do for Party / Bridesmaid / Graduation / Prom / Year End Book
                    </div>
                    <div class="N_Beauty_Private_introduce_second">
                        good deal package :) (exclude transport fee) Booking fee to lock the date Get Special Price if booked more than 3 pax Book
                    </div>
                    <div class="N_Beauty_Private_introduce_ID">
                        <span><i class="far fa-money-bill-alt"></i>   IDR 550.000,00</span>
                    </div>
                    <div class="N_Beauty_Private_introduce_time">
                        <span><i class="far fa-calendar-alt"></i>  For 1 hour and 30 minutes</span>
                    </div>

                </div>
                <div class="N_Beauty_Private_Book">
                    <button class="N_Beauty_Private_Book_name">Book </button>
                </div>
            </div>

            <div class="N_Beauty_Private" >
                <div class="N_Beauty_Private_introduce">
                    <div class="N_Beauty_Private_introduce_first">
                        Makeup Hijabdo for 10 person (Package Party Makeup)
                    </div>
                    <div class="N_Beauty_Private_introduce_second">
                        10 pax Paket Makeup hair/hijabdo untuk acara wedding atau acara kantor Additional hair/hijab range fee 100-200k/per person (exclude transport fee) Booking fee to lock the date                        </div>
                    <div class="N_Beauty_Private_introduce_ID">
                        <span><i class="far fa-money-bill-alt"></i>   IDR 3.300.000,00</span>
                    </div>
                    <div class="N_Beauty_Private_introduce_time">
                        <span><i class="far fa-calendar-alt"></i>  For 3 hour</span>
                    </div>

                </div>
                <div class="N_Beauty_Private_Book">
                    <button class="N_Beauty_Private_Book_name">Book </button>
                </div>
            </div>
        </div>
    </div>

    <div class="N_Review">
        <div class="N_Review_name">
            Review
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6" id="rating">
                    <span>Rating given</span>
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class = "full" for="star5" title="Awesome - 5 stars"></label>

                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class = "full" for="star4" title="Pretty good - 4 stars"></label>

                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class = "full" for="star3" title="Meh - 3 stars"></label>

                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                </div>
<!--                <div class="N_Review_comment_intro_rating col-md-6">-->
<!--                    <span>Rating given</span>-->
<!--                    <i class="fas fa-heart"></i>-->
<!--                    <i class="fas fa-heart"></i>-->
<!--                    <i class="fas fa-heart"></i>-->
<!--                    <i class="fas fa-heart"></i>-->
<!--                    <i class="fas fa-heart"></i>-->
<!--                </div>-->
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6">
                    <span>Rating given</span>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6">
                    <span>Rating given</span>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6">
                    <span>Rating given</span>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6">
                    <span>Rating given</span>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6">
                    <span>Rating given</span>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div class="N_Review_comment">
            <div class="N_Review_comment_intro row">
                <div class="N_Review_comment_intro_ava col-md-6">
                    <img src="/imgs/img/review%20ava.png" alt="">
                    <div class="N_Review_comment_intro_ava_rating">
                        <div class="N_Review_comment_intro_ava_rating_name">
                            dr purisakti
                        </div>
                        <div class="N_Review_comment_intro_ava_rating_day">
                            Posted 1 month ago
                        </div>
                    </div>
                </div>
                <div class="N_Review_comment_intro_rating col-md-6">
                    <span>Rating given</span>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </div>
                <div class="N_Review_comment_intro_comment col-md-12">
                    The best MUA ever! Never disappointed
                </div>
            </div>
        </div>
        <div style="text-align: center;letter-spacing: 0.2px;margin: 10px 0;font-size: 16px"><a href="#" id="loadMore" style="color: #FF5C5C"><i class="far fa-heart"></i> Load More Review </a></div>

    </div>
</div>
<%- include('layout/footer')-%>



<script>
    // $(document).ready(function() {
    //     $('.popup-gallery').magnificPopup({
    //         delegate: 'a',
    //         type: 'image',
    //         tLoading: 'Loading image #%curr%...',
    //         mainClass: 'mfp-img-mobile',
    //         gallery: {
    //             enabled: true,
    //             navigateByImgClick: true,
    //             preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    //         },
    //         image: {
    //             tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
    //             titleSrc: function(item) {
    //                 return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
    //             }
    //         }
    //     });
    // });

    // function fsIconClick(isFullscreen, ninjaSldr) {
    //     //Note: fsIconClick is the default event handler of the fullscreen button
    //     if (isFullscreen) {
    //         ninjaSldr.parentNode.style.display = "none";
    //     }
    // }
    $(document).ready(function(){
        $(".N_Review_comment").slice(0, 4).show();
        $("#loadMore").on("click", function(e){
            e.preventDefault();
            $(".N_Review_comment:hidden").slice(0, 4).slideDown();
            if($(".N_Review_comment:hidden").length == 0) {
                $("#loadMore").text("No Content").addClass("noContent");
            }
        });

    })

    //
    $(document).ready(function(){
        $(".column").slice(0, 4).show();
        $("#ShowMoreIMG").on("click", function(e){
            e.preventDefault();
            $(".column:hidden").slice(0, 4).slideDown();
            if($(".column:hidden").length == 0) {
                $("#ShowMoreIMG").text("No Content").addClass("noContent");
            }
        });

    })
    // modal
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";

    }
    var modal = document.getElementById("myModal");
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }
    function calcRate(r) {
        const f = ~~r,//Tương tự Math.floor(r)
            id = 'star' + f + (r % f ? 'half' : '')
        id && (document.getElementById(id).checked = !0)
    }
</script>
</body>
</html>