<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking Success</title>
    <link rel="stylesheet" href="/libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ftlink.css"> <!--    Only for Footer Link-->
    <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>
</head>
<body>
<section class="section sticky-top">
    <nav class="navbar navbar-expand-md navbar-light  nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="/">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
                        <form class="form-group form-group-nav-pro" action="/search" method="get">
                            <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                            <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
                        </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FOR CLIENT
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARTNER WITH US
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Artists</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section head-s1">
    <div class="img-banne-s">
        <img src="/imgs-s/banner-son.jpg">
    </div>
    <div class="header-promotion">
        <span class="header-promotion-span-s1">Beauty Artist</span><br>
        <span class="header-promotion-span-s2">Find and book your favorite beauty artist.</span>
    </div>
</section>

<div class="ftlink">
    <div class="container">
        <div class="small_container">
            <h1>Request Artist</h1>
            <hr>
            <p>We have successfully forwarded your booking request to Devina Martina. Please wait for the next confirmation which we will send to your email address in the future.</p>
            <p><b>Note:</b></p>
            <p>You will only be required to make a payment if Artist has received this Booking Request</p>
            <p class="ftlink-hover"><a href="/"><i class="fas fa-arrow-left"></i>   Back to Home</a> </p>
        </div>
    </div>
</div>
<%- include ('layout/footer'); -%>
<script src="/js/home-son.js"></script>
</body>
</html>