<!doctype html>
<html lang="en">
<head>
    <title>Sign Up Success</title>
    <%- include("layout/head-Aritst-son") -%>
</head>
<body>

<%- include("layout/navbar-Beauty-Artist-s") -%>

<div class="ftlink">
    <div class="container">
        <div class="small_container">
            <h1>account required</h1>
            <hr>
            <p>Thank you for your artisan account registration, we will verify the accuracy of the account
                and will contact you in the shortest time via the registered email address or phone number.</p>
        </div>
    </div>
</div>
<%- include ('layout/footer'); -%>
<script src="/js/home-son.js"></script>
</body>
</html>