<!doctype html>
<html lang="en">
<head>
    <title>Booking Success</title>
    <%- include("layout/head-Aritst-son") -%>
</head>
<body>

<%- include("layout/navbar-Beauty-Artist-s") -%>

<div class="ftlink">
    <div class="container">
        <div class="small_container">
            <h1>Request Artist</h1>
            <hr>
            <p>We have successfully forwarded your booking request to Devina Martina. Please wait for the next confirmation which we will send to your email address in the future.</p>
            <p><b>Note:</b></p>
            <p>You will only be required to make a payment if Artist has received this Booking Request</p>
        </div>
    </div>
</div>
<%- include ('layout/footer'); -%>
<script src="/js/home-son.js"></script>
</body>
</html>