
.vfooter__bgtop{
    background-image: url('../imgs/bg-footer.png');
    -webkit-background-image: url('../imgs/bg-footer.png');
    -o-background-image: url('../imgs/bg-footer.png');
    -moz-background-image: url('../imgs/bg-footer.png');
    background-size: cover;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
}
.vfooter__bg{
    padding-top: 50px;
    background-color: #484848;
    padding-bottom: 40px;
}
.vfooter__about{
    display: flex;
    flex-direction: column;
}
.vfooter__about__logo{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.vfooter__about__logo img{
    width: 40%;
    height: auto;
}
.vfooter__about__info p{
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.6;
}
.vfooter__link ul{
    padding-left: 0;
}
.vfooter__link ul li{
    list-style: none;
    font-size: 14px;
}
.vfooter__link ul li a{
    text-decoration: none;
    color: var(--text-color);
}
.vfooter-title{
    color: var(--main-color);
    font-size: 18px;
}
.vfooter__connect__payment{
    margin-bottom: 50px;
}
.list__card{
    display: inline;
    display: inline;
    padding-left: 0;
}
.list__card li{
    list-style: none;
    display: inline;
    padding-right: 5px;
}
.vfooter__connect__social ul{
    padding-left: 0;
}
.vfooter__connect__social ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.vfooter__connect__social ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
.vfooter__bottom{
    background-color: #444;
    height: 50px;
    display: flex;

}
.vfooter__bottom .container{
    align-items: center;
    justify-content: center;
    display: flex;
}
.vfooter__bottom p{
    color: var(--main-color);
    font-size: 13px;
    padding: 0;
    margin: 0;
}