@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1vw;
    word-spacing: 0.1vw;
    font-size: 0.85vw; /*vw ko đổi hiển thị chữ khi zoom to nhỏ màn hình đi kèm với thẻ viewport*/
    position: relative!important;
}
.nemu-ssss{
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
    color: #333333;
}
img{
    max-width: 100%;
}
.nota{
    color: #171717;
    text-decoration: none !important;
    background-color: transparent;
    opacity: 1;
}
.nota:hover{
    color: #cccccc;
    list-style: none !important;
    text-decoration: none !important;
    opacity: 0.5;
}

.notamenu{
    color: #FFFFFF;
    text-decoration: none !important;
    background-color: transparent;
    opacity: 1;
}

.notamenu:hover{
    color: #cccccc;
    list-style: none;
    text-decoration: none;
    opacity: 0.5;
}
.head-s1{
    position: relative;
}
#video_background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: auto;
    width: 100% !important;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
.video-s{
    width: 100%;
    height: 40vw;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: auto;
    /*height: auto;*/
    z-index: -1000;
}
.nav-head-s{
    width: 100%;
    height: auto;
    /*background: none !important;*/
    position: absolute;
    left: 0;
    top: 0;
}
.img-nav-s{
    max-width: 70%;
    height: 5vw !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 15vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.nav-item-s{
    padding: 0 1vw;
}
.btn-nav-s1{
    border: 1px solid transparent;
    padding: 0.375rem 1.5rem !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3.25rem !important;
}
.btn-nav-s1:focus{
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}
.btn-nav-s1:hover{
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    color: #FFFFFF !important;
    background-color: #ff5c5c !important;
}
.btn-nav-s2:focus{
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

.btn-nav-s2{
    border: 1px solid #ff5c5c !important;
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3.25rem !important;
    background: #ff5c5c !important;
    color: #FFFFFF !important;
}
.btn-nav-s2:hover {
    color: #ff5c5c !important;
    background-color: #f8f9fa !important;
    border-color: #ff5c5c !important;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

.notamenus{
    font-size: 1.5vw !important;
}

/*Hết phầm menu */
.H1-s{
    text-align: center;
    padding-top: 5vw;
    font-size: 2.4vw;
    /*position: relative;*/
    margin: auto;
}
.span-s{
    text-align: center;
    font-size: 1.2vw;
    color: #FFFFFF !important;
    /*padding-top: 5vw;*/
}
.carousels1{
    margin: 0 auto;
    text-align: center !important;
    width: 20vw !important;
    font-size: 3vw;
    color: #FFFFFF !important;

}
.d-block-span{
    text-shadow: 4px 5px 2px #ff5c5c;
}
/*seach*/
.seach-s1{
    padding-top: 2vw;
    padding-bottom: 6vw;
}
.dflexlefts1{
    text-align: right;
    padding-right: 0!important;
    /*padding-right: 1vw !important;*/
}
.dflexrights1{
    text-align: left;
    padding-left: 0!important;
}
.search-buton{
    width: 100%;
    float: left !important;
}
.search{
    width: 100%;
}
.search-buton-s01{
    background-color: #FFFFFF !important;
    padding-top: 0.8vw !important;
    padding-bottom: 0.8vw !important;
    padding-right: 8vw !important;
    font-size: 1vw !important;
    line-height: 1.5;
    border-radius: 0.8rem 0 0 0.8rem !important;
    text-align: left !important;
}
.search-buton-s01:hover{
    border-color: #ff5c5c !important;
}
.search-buton-s02:hover{
    border-color: #ff5c5c !important;
}
.search-buton-s02{
    background-color: #FFFFFF !important;
    padding-top: 0.8vw !important;
    padding-bottom: 0.8vw !important;
    font-size: 1vw !important;
    line-height: 1.5;
    border-radius: 0 0.8rem 0.8rem 0 !important;
    width: 45%;
}
.search-buton-left{
    padding: 0 !important;
    text-align: left !important;
}

.search-buton-s1{
    opacity: 0.3;
    text-align: left !important;
}
.modal-s1{
    justify-items: center !important;
    align-items: center !important;
    text-align: center!important;
}
.col-lg-10-modal{
    margin-bottom: 0 !important;
}
.close-s1{
    float: left !important;
}
.modal-title-s1{
    float: left !important;
}
.input-s1{
    margin-right: 26vw !important;
    border: none !important;
}
.input-s1:focus{
    border-color: #FFFFFF !important;
    box-shadow: 0 0 0 0.2rem rgba(247, 250, 250, 0.25) !important;
}

.modal-body-s1{
    text-align: left !important;
}
.modal-body-s2{
    justify-content: left!important;
}
.modal-body-top{
    padding: 2vw 0;
}
.modal-body-top2{
    padding: 2vw 0;
}
.modal-body-top-span{
    font-size: 0.85vw !important;
    text-transform: uppercase !important;
    font-weight: bolder;
}
.modal-body-top-span2{
    font-size: 0.85vw !important;
    text-transform: uppercase !important;
    font-weight: bolder;
    text-align: left !important;
    float: left !important;
}

.modal-body-bottom-s1:focus{
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

.modal-body-bottom-s1{
    border: 1px solid #ff5c5c !important;
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3.25rem !important;
    background: #ff5c5c !important;
    color: #FFFFFF !important;
}
.modal-body-bottom-s1:hover {
    color: #212529 !important;
    background-color: #f8f9fa !important;
    border-color: #ff5c5c !important;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}
.modal-body-bottom-s0{
    flex-wrap: wrap !important;
}
.modal-body-bottom-s01{
    padding: 0.5vw 0;
}
.input-s11{
    position: absolute;
    top: 930%;
    left: 35%;
    padding: 0.5rem 5rem !important;
}
.modal-footer-s1{
    /*position: relative;*/
    height: 5vw;
}
.modal-body-bottom2{
    padding-bottom: 5vw;
}

.modal-body-arow{
    opacity: 0.3;
    text-align: left !important;
}
.modal-body-span{
    opacity: 0.3;
    font-size: 0.8vw;
    /*line-height: 42px;*/
}
.input-s12{
    /*padding: 0.375rem 5rem !important;*/
}

/*Header fooder*/
.header-fooder{
    text-align: center;
    /*padding: 2vw 0;*/
    color: #FFFFFF !important;
    padding-bottom: 2vw;
}

.header-fooder-notamenu{
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
    opacity: 1;
}

.header-fooder-notamenu:hover{
    color: #ff5c5c;
    list-style: none;
    text-decoration: none;
}
.header-fooder-notamenu-s4{
    color: #171717;
    text-decoration: none;
    background-color: transparent;
    opacity: 1;
}

.header-fooder-notamenu-s4:hover{
    color: #ff5c5c;
    list-style: none;
    text-decoration: none;
}

.Beauty-Artist-s1:hover{
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01);
}
.Beauty-Artist-s1-s1:hover{
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
}
.header-fooder-notamenu-span {
    text-transform: uppercase;
    font-size: 0.85vw;
    position: relative;
}

.header-fooder-notamenu-span:before{
    content: "";
    position: absolute;
    top: 2.5vw;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1vw;
    background: #ff5c5c;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.header-fooder-notamenu-span:hover:before {
    opacity: 0.8;
    width: 100%;
}
/*tittel*/
.container-s1{
    /*background-image: url("../imgs-s/bg2.jpeg");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
.tiller-s22{
    text-align: center;
    padding: 2vw 0;
}

.menu-s{

    padding-bottom: 3vw;
}
.menu-s1{
    padding: 8vw 6vw;
    border: 1px solid #cccccc;
    background-image: url("../imgs-s/salon-bg2.jpg");
    background-size: cover;
    border-radius: 1vw;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);

}
.menu-s1-span{
    font-size: 1.5vw;
    color: #FFFFFF;
    padding: 1vw 0;
}
.menu-s2-search-button{
    font-size: 1.2vw !important;
}
.menu-s1:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

.menu-s2-search-button{
    border: 1px solid #FFFFFF !important;
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3.25rem !important;
    background: none !important;
    color: #FFFFFF !important;
}
.menu-s1:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus021{
    justify-items: center;
    text-align: center!important;
    padding-bottom: 2vw;
}
.menus0212{
    color: #171717;
    text-decoration: none;
    background-color: transparent;
    opacity: 1;
}

.menus0212:hover{
    color: #171717;
    list-style: none;
    text-decoration: none;

    /*opacity: 0.5;*/
}
.menus0212-menu{
    border: 1px solid #cccccc;
    padding: 8vw 0;
    border-radius: 1vw;
    background-image: url("../imgs-s/basic make up.jpg");
    background-size: cover;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu-2{
    border: 1px solid #cccccc;
    padding: 8vw 0;
    border-radius: 1vw;
    background-image: url("../imgs-s/wedding.jpg");
    background-size: cover;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}
.menus0212-menu-3{
    border: 1px solid #cccccc;
    padding: 8vw 0;
    border-radius: 1vw;
    background-image: url("../imgs-s/photoshoot.jpg");
    background-size: cover;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}
.menus0212-menu-4{
    border: 1px solid #cccccc;
    padding: 8vw 0;
    border-radius: 1vw;
    background-image: url("../imgs-s/Bridesmaid01.jpg");
    background-size: cover;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}
.menus0212-menu-5{
    border: 1px solid #cccccc;
    padding: 8vw 0;
    border-radius: 1vw;
    background-image: url("../imgs-s/aodai.jpg");
    background-size: cover;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}
.menus0212-menu-6{
    border: 1px solid #cccccc;
    padding: 8vw 0;
    border-radius: 1vw;
    background-image: url("../imgs-s/Halloween.jpg");
    background-size: cover;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu:hover .menus0212-span{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.menus0212-span{
    font-size: 1.2vw;
    color: #FFFFFF;
    padding-bottom: 1vw;
}

.menus0212-menu:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-search-button{
    border: 1px solid #FFFFFF !important;
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3.25rem !important;
    background: none !important;
    color: #FFFFFF !important;
}
.menus0212-menu:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*11111111111111*/
.menus0212-menu-2:hover .menus0212-span{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.menus0212-menu-2:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu-2:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.menus0212-menu-3:hover .menus0212-span{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.menus0212-menu-3:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu-3:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.menus0212-menu-4:hover .menus0212-span{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.menus0212-menu-4:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu-4:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.menus0212-menu-5:hover .menus0212-span{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.menus0212-menu-5:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu-5:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.menus0212-menu-6:hover .menus0212-span{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}
.menus0212-menu-6:focus .btn.btn-outline-light.menu-s2-search-button{
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
}

.menus0212-menu-6:hover .btn.btn-outline-light.menu-s2-search-button{
    color: #212529 !important;
    background-color: #FFFFFF !important;
    border-color: #cccccc !important;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.75);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*slide*/

.container-promo{
    padding: 3vw 0 2vw 0;
}
.container-promo-s{
    font-size: 1.6vw;
}
/* external css: flickity.css */


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 20vw;
    width: 100%;
    padding: 0 1vw;
}
.swiper-slide-a{
    height: 20vw;
    width: 100%;
}

.swiper-slide-img{
    width: 100%;
    height: 20vw!important;
    border-radius: 1vw;
    background-size: cover;
}
@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}
.swiper-button-prev{
    color: #cccccc!important;
}
.swiper-button-next{
    color: #cccccc!important;
}

/**/
.tillets1{
    padding-top: 3vw;
    padding-left: 0!important;
}
.container-tillets1-span{
    font-size: 1.6vw !important;
}
.container-tillets1-span-p{
    text-decoration: #ff5c5c;
    color: #ff5c5c;
    font-size: 1.2vw;
}
.container-tillets1-left{
    text-align: right;

}
.container-tillets1-left-span{
    color: #ff5c5c!important;
}

/*Promotions*/
.form-group-nav-pro{
    /*padding-left: 5vw;*/
    margin-bottom: 0!important;
    position: relative;
}
.form-group-nav-pro-input{
    margin-left: 10vw;
    border-radius: 1vw!important;
    padding: 0.375rem 1.5rem !important;
}
.form-group-nav-pro-icon{
    position: absolute;
    top: 20%;
    left: 132%;
}
.img-banne-s{
    width: 100%;
    /*height: 40vw;*/
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: auto;
    height: auto;
    z-index: -1000;
    opacity: 0.5;
}
.header-promotion{
    padding: 1vw 0 3vw 0;
    text-align: center;
    color: #FFFFFF;
}
.header-promotion-span-s1{
    font-size: 1.6vw;
}
.owl-prev{
    font-size: 4.6vw !important;
    position: absolute;
    top: 33%;
    left: 0;
    color: #cccccc !important;
}
.owl-prev span{
    color: #cccccc !important;
}
.owl-next{
    font-size: 4.6vw !important;
    position: absolute;
    top: 33%;
    right: 0;
    color: #cccccc !important;
}

.tillets1-s1{
    padding-bottom: 2vw;
}
.khdssp{
    width: 100%;

}
.container-new-s1{
    width: 100%;
    padding-bottom: 2vw;
}
.container-new-s2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 1vw;
    padding-bottom: 2vw;
}
/*.lSSlideOuter{*/
/*    height: 550px!important;*/
/*}*/
/*.lSSlideWrapper{*/
/*    padding-top: 1vw!important;*/
/*    padding-bottom: 5vw!important;*/
/*}*/
.lightSlider{
    height: 410px!important;
}


.container-new-s3{
    border: 1px solid #cccccc;
    margin: 10px 10px;
    flex-basis: 45%;
    /*text-align: center;*/
    display: flex;
    flex-wrap: wrap;
    /*background-color: #FFFFFF;*/
    height: 15vw;
    border-radius: 1vw;
}
.container-new-s3-top{
    /*padding: 0!important;*/
    /*border-radius: 1vw;*/
    justify-items: center;
    text-align: center;
}
.container-new-s3-top img{
    padding-top: 2vw;
}

.khdssp2{
    width: 100%;
}
.Beauty-Artist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}
.Beauty-Artist-s1{
    /*border: 1px solid #cccccc;*/
    margin: 10px 10px;
    flex-basis: 23%;
    text-align: center;
    position: relative;
    height: 30vw;
    background-color: #FFFFFF;
    border-radius: 2vw;
    -webkit-box-shadow: 5px 7px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0 rgba(0,0,0,0.75);
}
.Beauty-Artist-s11{
    width: 100%;
    height: 40%;
}
.Beauty-Artist-s12{
    width: 100%;
    height: 60%;
}
.imgs-cover{
    height: 100% !important;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 2vw;
    object-fit: cover;
}

.imgs-avartar{
    position: absolute;
    top: 29%;
    left: 0;
    clip-path: circle(15%);
}
.Beauty-Artist-s112{
    padding-top: 2vw;
}
.Beauty-Artist-s112-a{
    text-decoration: none !important;
    background-color: transparent;
    opacity: 1;
    color: #ff5c5c!important;
}

.Beauty-Artist-s112-a:hover{
    color: #ff5c5c!important;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
}

.Beauty-Artist-s1123{
    padding: 0.5vw 0;
}
.Beauty-Artist-s1123-a{
    text-decoration: none !important;
    opacity: 1;
    color: #FFFFFF!important;
    padding: 0.2vw 0.5vw;
    border: 1px solid #ff5c5c;
    background-color: #ff5c5c;
    border-radius: 0.3vw;
    font-size: 0.8vw;
}
.Beauty-Artist-s1123-a:hover{
    color: #ff5c5c!important;
    background-color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
}

.Beauty-Artist-s121{
    padding-left: 0.5vw;
}
.Beauty-Artist-s1212{
    padding: 0 0.5vw;
}
.Beauty-Artist-s121-span{
    opacity: 0.7;
    font-size: 0.9vw;
}

.Beauty-Artist-s12-name{
    padding: 0.5vw 0;
}
.Beauty-Artist-s125-span{
    font-size: 0.85vw;
    padding-left: 0.5vw;
}
.Beauty-Artist-s125{
    justify-items: center!important;
    align-items: center;
    text-align: center;
    /*padding-left: 1vw;*/
}
.Beauty-Artist-s125-icon{
    font-size: 1.1vw!important;
    opacity: 0.7;
}
.Beauty-Artist-s12-SWTime{
    padding: 0.5vw 0;
    font-size: 0.85vw;
}
.Beauty-Artist-s126{
    border-right: 1px solid #cccccc;
}

.lSPrev{
    color: #171717!important;
}

/*Slideeeeeeeeeeeee*/

.Beauty-Artist-s1-s1{
    /*border: 1px solid #cccccc;*/
    margin: 10px 10px;
    flex-basis: 23%;
    text-align: center;
    position: relative;
    height: 25vw;
    background-color: #FFFFFF;
    /*border-radius: 2vw;*/
    -webkit-box-shadow: 5px 7px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0 rgba(0,0,0,0.75);
}
.Beauty-Artist-s11-s1{
    width: 100%;
    height: 40%;
}

.imgs-cover-s1{
    height: 100% !important;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*border-radius: 2vw;*/
    object-fit: cover;
}
.Beauty-Artist-s112-s1{
    padding-top: 3vw;
}
.Beauty-Artist-s112-a-s1{
    text-decoration: none !important;
    background-color: transparent;
    opacity: 1;
    color: #ff5c5c!important;
}
.Beauty-Artist-s112-a-s1:hover{
    color: #ff5c5c!important;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
}
.Beauty-Artist-s1123-s1{
    padding: 0.5vw 0;
}
.Beauty-Artist-s1123-a-s1{
    text-decoration: none !important;
    opacity: 1;
    color: #FFFFFF!important;
    padding: 0.2vw 0.5vw;
    border: 1px solid #ff5c5c;
    background-color: #ff5c5c;
    border-radius: 0.3vw;
    font-size: 0.8vw;
}
.Beauty-Artist-s1123-a-s1:hover{
    color: #ff5c5c!important;
    background-color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
}
.Beauty-Artist-s12-s1{
    width: 100%;
    height: 60%;
}
.Beauty-Artist-s126-s1{
    border-right: 1px solid #cccccc;
    padding-left: 0!important;
    text-align: center;
}
.Beauty-Artist-s125-s1{
    justify-items: center!important;
    align-items: center;
    text-align: center;
}
.Beauty-Artist-s125-s2{
    justify-items: center!important;
    align-items: center;
    text-align: center;
}
.Beauty-Artist-s125-icon-s1{
    font-size: 1.1vw!important;
    opacity: 0.7;
    padding: 0!important;
}
.Beauty-Artist-s125-icon-s2{
    font-size: 1vw!important;
    opacity: 0.7;
}
.header-fooder-notamenu-s42{
    padding-left: 0!important;
}
.Beauty-Artist-s125-span-s1{
    font-size: 0.85vw;
    padding-left: 0.5vw;
}
.Beauty-Artist-s125-span-s2{
    font-size: 0.85vw;
    padding-left: 0.3vw;
}
.Beauty-Artist-s12-SWTime-s1{
    padding: 0.5vw 0;
    font-size: 1vw;
}
.Beauty-Artist-s125-span-s1{
    font-size: 0.85vw;
    padding-left: 0.5vw;
}
.lSPrev{
    margin-left: 1vw;
    color: #cccccc!important;
}
.lSNext{
    margin-right: 1.5vw;
    color: #cccccc!important;
}
.lSNext:hover{
    color: #ff5c5c!important;
}
.lSPrev:hover{
    color: #ff5c5c!important;
}
/*het slide */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.tillets2{
    /*padding: 1vw 0!important;*/
    padding: 0!important;
}
.food-s1{
    text-align: center;
    padding-bottom: 2vw;
}

/*Trang dang ky */
.section-Beauty-Artist{
    background-image: url("../imgs-s/bg2.jpeg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
.container-h1-s{
    text-align: center;
    padding: 3vw 0;

}
.container-Artisan{
    background-color: #FFFFFF;
}
.span-label{
    font-size: 1.2vw;
    padding: 1vw 0;
}
.with-errors{
    font-size: 0.9vw!important;
    color: red !important;
    padding-top: 0.5vw!important;
    padding-left: 1vw!important;
}
.tillets2-foot{
    text-align: center;
    padding-bottom: 1vw;
}
.nav-item-s-dropdown{
    background-color: #FFFFFF!important;
    color: #ff5c5c!important;
}
.nav-item-s-dropdown:hover{
    background-color: #ff5c5c!important;
    color: #FFFFFF!important;
}
.nav-item-s-dropdown-s2{
    background-color: #ff5c5c!important;
    color: #FFFFFF!important;
}
.nav-item-s-dropdown-s2:hover{
    background-color: #FFFFFF!important;
    color: #ff5c5c!important;
}
.nav-item-s-divider{
    background-color: #FFFFFF!important;
    /*border: none!important;*/
    margin: 0!important;
}

.sbuttons {
    bottom: 5%;
    position: fixed;
    margin: 1em;
    left: 0;
}
.sbutton {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 20px auto 0;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
}
.sbutton > i {
    font-size: 38px;
    line-height: 60px;
    transition: all .2s ease-in-out;
    transition-delay: 2s;
}
.sbutton:active,
.sbutton:focus,
.sbutton:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.sbutton:not(:last-child) {
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    opacity: 0;
}
.sbutton:not(:last-child) > i {
    font-size: 25px;
    line-height: 60px;
    transition: all .3s ease-in-out;
}
.sbuttons:hover .sbutton:not(:last-child) {
    opacity: 1;
    width: 60px;
    height: 60px;
    margin: 15px auto 0;
}
.sbutton:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
}
.sbutton:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
}
.sbutton:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
}
.sbutton:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
}
.sbutton:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
}
.sbutton:not(:last-child):nth-last-child(6) {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

[tooltip]:before {
    font-family: 'Roboto';
    font-weight: 600;
    border-radius: 2px;
    background-color: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-left: 10px;
    position: absolute;
    left: 100%;
    bottom: 20%;
    white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
.sbutton.mainsbutton {
    background: #ff5c5c;
}
.sbutton.gplus {
    background: #F44336;
}
.sbutton.pinteres {
    background: #e60023;
}
.sbutton.twitt {
    background: #03A9F4;
}
.sbutton.fb {
    background: #3F51B5;
}
.sbutton.whatsapp {
    background: #00e676;
}