<footer class="vfooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 vfooter__bgtop">

            </div>
        </div>
    </div>
    <div class="vfooter__bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 vfooter__about">
                    <div class="vfooter__about__logo">
                        <img src="/imgs/logo-white.png" alt="">
                    </div>
                    <div class="vfooter__about__info">
                        <p>
                            HelloBeauty is Vietnam’s 1st beauty services marketplace for beauty professionals and clients.
                            Beauty professionals can manage their business, connect with new & existing clients,
                            and showcase their services. Clients can discover beauty services, and book instantly anytime, anywhere
                        </p>
                    </div>
                </div>
                <div class="col-md-2 text-white vfooter__link">
                    <h2 class="vfooter-title">Information</h2>
                    <ul>
                        <li>About Us</li>
                        <li>Privacy Policy</li>
                        <li>Terms and Conditions</li>
                        <li>How To Book</li>
                        <li>Beauty Daily</li>
                        <li>About L.POINT</li>
                    </ul>

                </div>
                <div class="col-md-2 text-white vfooter__link">
                    <h2 class="vfooter-title">Knowledge Base</h2>
                    <ul>
                        <li>List Your Business</li>
                        <li>Payment & Cancellation</li>
                        <li>Policy</li>
                    </ul>
                </div>
                <div class="col-md-4 vfooter__connect">
                    <div class="vfooter__connect__payment">
                        <h2 class="vfooter-title">Knowledge Base</h2>
                        <ul class="list__card">
                            <li>
                                <img src="/imgs/payment/visa.png" alt="">
                            </li>
                            <li>
                                <img src="/imgs/payment/master.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="vfooter__connect__social">
                        <h2 class="vfooter-title">Be Social & Stay Connected</h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>