<footer class="vfooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 vfooter__bgtop">

            </div>
        </div>
    </div>
    <div class="vfooter__bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 vfooter__about">
                    <div class="vfooter__about__logo">
                        <img src="/imgs/logo-white.png" alt="">
                    </div>
                    <div class="vfooter__about__info">
                        <p>
                            HelloBeauty is Vietnam’s 1st beauty services marketplace for beauty professionals and clients.
                            Beauty professionals can manage their business, connect with new & existing clients,
                            and showcase their services. Clients can discover beauty services, and book instantly anytime, anywhere
                        </p>
                    </div>
                </div>
                <div class="col-md-2 text-white vfooter__link">
                    <h2 class="vfooter-title">Information</h2>
                    <ul>
                        <li><a href="/pages/about-us">About Us</a></li>
                        <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
                        <li><a href="/pages/how-to-book">How To Book</a></li>
                        <li><a href="/pages/beauty-daily">Beauty Daily</a></li>
                        <li><a href="/pages/about-lpoint">About L.POINT</a></li>
                    </ul>

                </div>
                <div class="col-md-2 text-white vfooter__link">
                    <h2 class="vfooter-title">Knowledge Base</h2>
                    <ul>
                        <li><a href="/pages/list-your-business">List Your Business</li>
                        <li><a href="/pages/payments-cancellation">Payment & Cancellation</li>
                        <li><a href="/pages/payments-cancellation">Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-4 vfooter__connect">
                    <div class="vfooter__connect__payment">
                        <h2 class="vfooter-title">Accepted Payments</h2>
                        <ul class="list__card">
                            <li>
                                <a href="#">
                                    <img src="/imgs/payment/visa.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/imgs/payment/master.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="vfooter__connect__social">
                        <h2 class="vfooter-title">Be Social & Stay Connected</h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vfooter__bottom">
        <div class="container">
            <p>©2020 HelloBeauty. All Rights Reserved</p>
        </div>
    </div>
</footer>