<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/home-son.css"/>
    <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<!--<%- include("Preloader-son") %>-->
<section class="section sticky-top">
    <nav class="navbar navbar-expand-md navbar-light  nav-head-s" id="nav-head-s">
        <div class="container-fluid">
            <div class="img-nav-s">
                <a class="navbar-branch" href="/">
                    <img class="img-fluid img-nav-s" src="/imgs-s/logo-salmon.png">
                </a>
            </div>
            <form class="form-group form-group-nav-pro" action="/search" method="get">
                <input class="form-control form-group-nav-pro-input" type="text" name="keyword" placeholder="Type beautician's name or service category"/>
                <span class="form-group-nav-pro-icon"><i class="fa fa-search search-buton-s1"></i></span>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-s1">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle btn-nav-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FOR CLIENT
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/artisan-registration-and-service">Beauty Job Artist</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlet</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-light dropdown-toggle btn-nav-s2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARTNER WITH US
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">Beauty Artists</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Beauty Outlets</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-s">
                        <a href="#" class="notamenu notamenus"><i style="color: #ff5c5c" class="fa">&#xf290;</i></a>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModal">Register</button>
                    </li>
                    <li class="nav-item nav-item-s">
                        <button class="btn btn-outline-light btn-nav-s2" data-toggle="modal" data-target="#myModallogin">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="section head-s1">
    <div class="img-banne-s">
        <img src="/imgs-s/banner-son.jpg">
    </div>
    <div class="header-promotion">
        <span class="header-promotion-span-s1">Beauty Artist</span><br>
        <span class="header-promotion-span-s2">Find and book your favorite beauty artist.</span>
    </div>
</section>
</body>
</html>